/*reset */
html { color: #111; background: #fff }
body { margin:0;font-size:12px; font-family:Arial; line-height: 22px; } /* font:12px Arial, Helvetica, sans-serif; */
td { padding:5px;}
img { border-width: 0; image-rendering: optimizeQuality; -ms-interpolation-mode: bicubic; }
input { border:1px solid #999; color:#333; height:20px; vertical-align: middle; }
textarea {border:1px solid #999; color:#333; font-size:12px;}

a{cursor:pointer;}
a:link { color: #336699; text-decoration: none;}
a:visited { color: #666699; text-decoration: none;}
a:hover { color: #666666; text-decoration: none;}
a:active { color: #FFFFFF; text-decoration: none;}

ol, ul, li {
list-style: none;
}

ul, ol, dl, p, table, pre, h1, h2, h3, h4, h5, h6 { margin-bottom: 15px; }

/*common class*/
.div_center { clear:both; margin:auto; width:50%; overflow:hidden;}
.float_l { float:left;}
.float_r { float:right;}
.field_name { width:80px; display:inline-block; }
.form_tip {padding-left:20px; color:#666699; display:none;}
/*.form_tip {padding-left:20px; color:#ff2222; display:none;}*/
.bn_submit { width:80px;height:28px;font-size:14px;line-height:28px; padding-bottom:3px;cursor:pointer; color:#FFF;}
.title { height:50px;font-size:20px; font-weight:bold;}

/* header */
#global_bar {height: 40px;
    overflow: hidden;
    position: absolute;
    width: 100%;}
#global_bar div {background: none repeat scroll 0 0 #EFEFEF;
    border-bottom: 1px solid #D4D4D4;
    border-top: 1px solid #FFFFFF;
    box-shadow: 0 2px 5px rgba(212, 212, 212, 0.3);
    height: 32px;}
#top_bar { padding: 0 20px; margin: 0 auto; width:880px;}
#top_bar .top_nav { height: 55px; border-bottom: none; color: #737373; margin: 0 auto; width:880px; z-index:200; position:absolute;}
.editor #top_bar .top_nav{position: fixed; }
.editor #global_bar {position: fixed; }
#top_bar .user_consolee { float: right; margin: 0 30px 0 0; _margin: 0 30px 0 0 }
#top_bar .user_console {margin: 0; position:absolute; right:0; top:0;
    min-width: 120px;
    padding: 0;
    z-index: 10000;}
#logo {float: left;}
#user_action {padding-left:20px; display:none;}

/* global part*/
#person_img{
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.15);
    float: left;
    height: 25px;
    margin: 6px 14px 0 6px;
    overflow: hidden;
    width: 25px;
}

#person_name{
    display: block;
    line-height: 14px;
    margin: 0 0 0 45px;
    overflow: hidden;
    padding: 12px 0 0;
    white-space: nowrap;
    width: 70px;
}

.person_a{
    border: 1px solid rgba(0, 0, 0, 0.1);
    color: #000000 !important;
    display: block;
    height: 39px;
    line-height: 39px;
    overflow: hidden;
    padding: 0 0 0 45px;
    text-decoration: none;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
    white-space: nowrap;
    width: 75px;
	background-color: #FAFAFA;
}

.person_a_display{
    overflow: hidden;
    padding: 0;
    position: relative;
    width: 120px;
}

.person_li{
display: none;
}
.left_half{
float:left;
}
.right_half{
padding-top: 98px;
float:right;
}

/* landing page part */
#trendTopics{  float: left;
    margin-right: 40px;
    width: 550px;}
	
#topUsers{
    overflow: hidden;
    width: 250px;
}

#topUsers ol{
margin: 5px;
padding: 0 0 0 20px;
}

#topUsers ol li{
list-style-type: decimal;
}

.category h3{
    border-bottom: 1px solid #E6E6E6;
    color: #999999;
    margin: 40px 0 18px;
    padding-bottom: 10px;
    text-shadow: 0 1px 0 #FFFFFF, 0 1px 0 #EEEEEE;
}


/* weibo part*/
#source_pane{position:fixed; top:120px; width:390px; height:770px; }
#story_pane{position:relative; margin-left:20px; width:450px; min-height: 770px;}
#source_list{height:635px; overflow:auto;}
#story_list{position: inherit; margin:0; min-height:645px; border: 1px solid #C9C9C9; height:auto; overflow:hidden; list-style: none outside none;}
#story {}
#story_header {}
#storylist_container {}
.loadmore {padding: 0 150px 0 150px;}
.weibo_content{margin-left:36px;}
.weibo_drag, .video_Drag, .pic_Drag{padding:5px; margin:8px; border-color:#ababac;
  border-style:solid;
  border-width:2px;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
 }
 
 .video_Drag, .pic_Drag{
 overflow:auto;
 }
 
 .video_element{
  margin:0 auto;
  width:55%;
 }
 
 .video_drop1{
  margin:auto;
  width:95%;
 }
 
  .video_drop{
  padding:0px 5px 5px 5px;
  border-color:#ababac;
  border-style:solid;
  border-width:2px;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  margin:auto;
  width:95%;
  overflow:auto;
 }
  
  .weibo_drop{padding:0px 5px 5px 5px;
  border-color:#ababac;
  border-style:solid;
  border-width:2px;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  margin:auto;
  width:95%;
  overflow:auto;}
  
  .pic_drop{padding:0px 5px 5px 5px;
  border-color:#ababac;
  border-style:solid;
  border-width:2px;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  margin:auto;
  width:95%;
  overflow:auto;}
  
.source_drag {padding:5px;margin:5px;}
/* weibo part*/

.editted{padding:0px 5px 5px 5px;
  border-color:#ababac;
  border-style:solid;
  border-width:2px;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  }
  
.cross{
  padding-left:410px;
}
  
.addTextElementAnchor{
height:16px;
}
  
.add_comment{
 width: 16px;
 height: 16px;
 overflow: hidden;
 margin-left:2px;
}
  
 .textElement{
 margin:auto;
 width:95%;
 overflow:auto;
 }
 
 .cover{
    background-repeat: no-repeat;
    display: block;
    height: 190px;
    overflow: hidden;
    padding: 0;
    position: relative;
    width: 190px;
 }
 
 .title_wrap{
    bottom: 13px;
    margin: 0;
    position: absolute;
    width: 185px;
	text-align:left;
 }
 
 .title_wrap .title
 {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.8);
    color: #FFFFFF;
    display: inline;
    font: bold;
    padding: 1px 0;
    text-shadow: 0 0 2px rgba(0, 0, 0, 0.8);
    text-transform: uppercase;
 }
 
 .title_wrap .title:hover
 {
    background: none repeat scroll 0 0 rgba(100, 100, 100, 0.8);
 }

/* publish part*/
#publish_container{
  border-color:#ababac;
  border-style:solid;
  border-width:2px;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}
#story_action {background-color:#ababac;}
/* publish part*/

/* List all the story part*/
#userstory_container{margin-top:30px; margin-bottom:30px; overflow:auto; zoom:1;}
#userstory_list ul {padding:0;}
#userstory_list ul li {float:left; margin:20px 0 0px 35px; border: 1px solid #DDDDDD;
    border-radius: 3px 3px 3px 3px;
    color: #323232;
    display: inline-block;
    padding: 5px;
    text-decoration: none;}
/*background: -moz-linear-gradient(center top , #FFFFFF 0%, #F1F2F2 33.3333%, #FFFFFF 100%) repeat scroll 0 0 transparent;
    border: 1px solid #DDDDDD;
    border-radius: 3px 3px 3px 3px;
    color: #323232;
    display: inline-block;
    padding: 5px;
    text-decoration: none;*/
/*#userstory_list ul li a img { padding:1px; border:1px solid #e1e1e1; margin-bottom:3px;}
#userstory_list ul li a:hover img { padding:0px; border:2px solid #f98510;}*/

/* List all the story part*/



/* content part */
.content { margin:25px 0; position:relative;}
#homepage {margin-top:10px; position:relative;}
#homepage .inner {
overflow:hidden;
}
div #homepage.content-a {
background: -webkit-gradient(
linear,
left bottom,
left top,
color-stop(0.70, #fff),
color-stop(0.80, #ededed)
);
}
div .content-a { padding: 10px 0 20px; border-bottom: 1px solid #eaeaea; background: #fff; }
div.inner { width: 880px; margin: 0 auto;}
div.cols-b { width: 100%; }
div.cols-b:after { display: block; overflow: hidden; clear: both; content: ""; width: 100%; height: 0; }

.cols-b.signup p {
color: #555;
}


.cols-b.signup p {
font-size: 14px;
}

.cols-b.signup h3 {
font-size: 32px;
line-height:1.3;
text-shadow: 1px 1px 2px #fff;
margin-top:20px;
}

#demoVideo {
  float:left;
  width:420px;
  height:301px;
  padding:0 50px 0 0;
}

#intro{
  float:left;
  margin-left:30px;
}

#login_modal {width:200px;}
#login_modal div {margin-top:20px;}
#login div {margin-top:20px;}
.showborder {border: 1px solid #C9C9C9;}
#login_btn {padding: 3px 8px; border: 1px solid #C9C9C9; color: #336699; background: repeat-x; cursor:pointer;}
#login_btn{border-radius: 3px; -moz-border-radius: 3px; -webkit-border-radius: 3px;}
#login_btn:hover {background-color: #f5f5f5}

#login_modal_btn {padding: 3px 8px; border: 1px solid #C9C9C9; color: #336699; background: repeat-x; cursor:pointer;}
#login_modal_btn{border-radius: 3px; -moz-border-radius: 3px; -webkit-border-radius: 3px;}
#login_modal_btn:hover {background-color: #f5f5f5}

#weibo_btn {width:90px; height:28px; background: url(../img/weibo.png);}
#connectBtn {}
#weibo_btn {border-radius: 3px; -moz-border-radius: 3px; -webkit-border-radius: 3px;}
/* content part */

#user { position: absolute; right: 0; top: 5px; float: right; }
#user p.image { position: absolute; right: 0; top: 1px; padding:0px;}
#user p.image img { float: left; border: 2px solid #c6dbe5; }
#user h3 { margin: 0 50px 4px 0; padding: 1px 0 0; color: #202a2f; font-size: 1.3em; line-height: 1.1; font-weight: bold; white-space: nowrap; text-align: right; }
#user ul { list-style: none; margin: 0 45px 0 0; padding: 0; }
#user.pre ul { margin: 11px 0 0; }
#user ul li { float: left; margin: 0 0 0 3px; font-size: 1.1em; line-height: 1.2; }
/*#user ul li a { float: left; padding: 3px 8px; background: #f7f8f8 url(http://static.storify.com/img/user-bg-a.gif) repeat-x; color: #86abc4; }*/
#user ul li a { border-radius: 3px; -moz-border-radius: 3px; -webkit-border-radius: 3px; }

#footer {position: absolute; margin: 0 auto; width:880px; z-index:200; background: none repeat scroll 0 0 #F9F9F9;
    border-top: 1px solid #E3E5E6;
    padding: 0 0 1px;
	margin-top:0;}
.editor #footer {position:fixed; top:900px; bottom: 0;}
#footer p { color: #BBBBBB; font-size: 1.1em; }
#footer ul { float: right; list-style: none; margin: 13px 0 15px; padding: 0; }
#footer ul li { display: inline; float: left; margin: 0 0 0 20px; font-size: 1.1em; }


/*#intro{
position: relative;
}*/

.blue {color:#438cc3}






/*singin part */
#signin p {
clear:left;
}
#signin {
float:left;
margin:20px 0px 0px 0px;
text-align: center;
position:relative;
}

#signin input {
  clear: none;
  float: none;
  margin: 0px;
  width: auto;
}

#signin .inputEmail {
-moz-border-radius-bottomleft:3px;
-moz-border-radius-topleft:3px;
-webkit-border-bottom-left-radius:3px;
-webkit-border-top-left-radius:3px;
font-size:11pt;
float:left;
/*background:url("http://static.storify.com/img/forms-input-bg-a.gif") repeat-x scroll 0 0 #FFFFFF;*/
border:1px solid #D1D5D7;
float:left;
height:26px;
margin:0;
padding:4px 5px 0;
width:245px;
color: #A9A9A9;
}

#signin #saveBtn {
/*background:url("http://static.storify.com/img/forms-submit-bg-a.png") no-repeat scroll 0 0 transparent;*/
border-color:#D1D5D7 #D1D5D7 #D1D5D7 -moz-use-text-color;
border-style:solid solid solid none;
border-width:1px 1px 1px medium;
color:#00538D;
float:left;
font-size:12px;
font-weight:bold;
height:32px;
margin:0;
padding:0px 10px 0;
}

#signin a,#requestInvitation a {
font-size: 18px;
line-height: 28px;
}

#signin h4 {
clear:left;
}

#signin form {
width:300px;
margin:0 auto;
}

#thankYou {
height:60px;
margin:0 auto;
text-align:center;
font-size:14px;
position:absolute;
top:0;
left:0;
display:none;
margin-left:70px;
width:270px;
}

.storySnippets {
margin:20px 0px;
clear:both;
width:100%;
}

/*sign up part */
#sign_up div {margin-top:20px;}

/*log in part */


/*modal window part */

#mask {
  position:absolute;
  left:0;
  top:0;
  z-index:9000;
  background-color:#000;
  display:none;
}
  
#boxes .window {
  position:absolute;
  left:0;
  top:0;
  width:440px;
  height:200px;
  display:none;
  z-index:9999;
  padding:20px;
}

#boxes .close{
  float:right;
}

#boxes #dialog {
  width:550px;
  height:230px;
  padding:10px;
  background-color:#ffffff;
  border-color:#ababac;
  border-style:solid;
  border-width:5px;
  border-radius: 9px;
  -moz-border-radius: 9px;
  -webkit-border-radius: 9px;
}

#dialog .d-header {
  background:url(../img/login-header.png) no-repeat 0 0 transparent;
  width:375px;
  height:150px;
}

#dialog .d-header input {
  position:relative;
  top:60px;
  left:100px;
  border:3px solid #cccccc;
  height:22px;
  width:200px;
  font-size:15px;
  padding:5px;
  margin-top:4px;
}

#/*dialog .d-blank {
float:left;
background:url(../img/login-blank.png) no-repeat 0 0 transparent;
width:267px;
height:53px;
}*/

#dialog .d-login {
  float:left;
  width:108px;
  height:53px;
}

#dialog.close{
  float:right;
}

#boxes #dialog2 {
  background:url(../img/notice.png) no-repeat 0 0 transparent;
  width:326px;
  height:229px;
  padding:50px 0 20px 25px;
}

/* vertical tab part
.ui-tabs-vertical { width: 55em; }
.ui-tabs-vertical .ui-tabs-nav { padding: .2em .1em .2em .2em; float: left; width: 12em; }
.ui-tabs-vertical .ui-tabs-nav li { clear: left; width: 100%; border-bottom-width: 1px !important; border-right-width: 0 !important; margin: 0 -1px .2em 0; }
.ui-tabs-vertical .ui-tabs-nav li a { display:block; }
.ui-tabs-vertical .ui-tabs-nav li.ui-tabs-selected { padding-bottom: 0; padding-right: .1em; border-right-width: 1px; border-right-width: 1px; }
.ui-tabs-vertical .ui-tabs-panel { padding: 1em; float: right; width: 40em;}*/

#vtab {
	margin: auto;
	width: 425px;
	height: 100%;
	margin-left:-35px;
}
/*#vtab > ul > li {
	width: 40px;
	height: 32px;
	background-color: #fff !important;
	list-style-type: none;
	display: block;
	text-align: center;
	margin: auto;
	padding-bottom: 10px;
	border: 1px solid #fff;
	position: relative;
	border-right: none;
	opacity: .3;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
	filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=30);
}*/

#vtab > ul > li {
	width: 35px;
	height: 24px;
	background-color: #fff !important;
	list-style-type: none;
	display: block;
	border: 1px solid #fff;
	position: relative;
	border-right: none;
}

#vtab > ul > li.selected {
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
	border: 1px solid #ddd;
	border-right: none;
	z-index: 10;
	background-color: #fafafa !important;
	position: relative;
}

#vtab > ul {
	float: left;
	width: 35px;
	text-align: left;
	display: block;
	margin: auto 0;
	padding: 0;
	position: relative;
	top: 26px;
}
#vtab > div {
	background-color: #fafafa;
	margin-left: 35px;
	border: 1px solid #ddd;
	min-height: 50px;
	padding: 12px;
	position: relative;
	z-index: 9;
	-moz-border-radius: 5px;
}
