/*reset */
html { color: #111; background: #fff }
body { margin:0;font-size:12px; font-family:Arial; line-height: 22px; } /* font:12px Arial, Helvetica, sans-serif; */
td { padding:5px;}
img { border-width: 0; image-rendering: optimizeQuality; -ms-interpolation-mode: bicubic; }
input { border:1px solid #999; color:#333; height:20px; vertical-align: middle; }
textarea {border:1px solid #999; color:#333; font-size:12px;}

a{cursor:pointer;}
a:link { color: #336699; text-decoration: none;}
a:visited { color: #666699; text-decoration: none;}
a:hover { color: #666666; text-decoration: none;}
a:active { color: #FFFFFF; text-decoration: none;}

ol, ul, li {
list-style: none;
}

ul, ol, dl, p, table, pre, h1, h2, h3, h4, h5, h6 { margin-bottom: 15px; }

/*common class*/
.none{display:none;}
.imply_color{color:#999999;}
.bind_txt {text-align:center; margin-top:10px;}
.div_center { clear:both; margin:auto; width:50%; overflow:hidden;}
.float_l { float:left;}
.float_r { float:right;}
.field_name { width:80px; display:inline-block; }
.form_tip {padding-left:20px; color:#666699; display:none;}
#term_tip {padding-left:76px; color:#666699; display:none;}
.a_notify{width:100%; text-align:center; background-color: #FFF6EE;}
.bn_submit { width:80px;height:28px;font-size:14px;line-height:28px; padding-bottom:3px;cursor:pointer; color:#000;}
.title { height:50px;font-size:20px; font-weight:bold;}

body.editor {
background: none repeat-y scroll 0 0 #F9F9F9;
}

/* header */
#global_bar {
height: 40px;
overflow: hidden;
position: absolute;
width: 100%;
}
#global_bar div {
background: none repeat scroll 0 0 #EFEFEF;
border-bottom: 1px solid #D4D4D4;
border-top: 1px solid #FFFFFF;
box-shadow: 0 2px 5px rgba(212, 212, 212, 0.3);
height: 32px;
}
#top_bar { 
padding: 0 20px; 
margin: 0 auto; 
width:920px;
}
#top_bar .top_nav {
height: 55px; 
border-bottom: none; 
color: #737373; 
margin: 0 auto; 
width:920px; 
z-index:200; 
position:absolute;
}
.editor #top_bar .top_nav{
position: fixed; 
z-index:200;
}
.editor #global_bar {position: fixed; }
#top_bar .user_consolee {
float: right; 
margin: 0 30px 0 0; 
_margin: 0 30px 0 0; 
}
#top_bar .user_console {
margin: 0; position:absolute; right:0; top:0;
min-width: 120px;
padding: 0;
z-index: 10000;
}
#logo {float: left;}
#user_action {padding-left:20px;}

#person_img{
border: 1px solid rgba(0, 0, 0, 0.1);
box-shadow: 0 1px 0 rgba(255, 255, 255, 0.15);
float: left;
height: 25px;
margin: 6px 14px 0 6px;
overflow: hidden;
width: 25px;
}

.console_img{
width:25px;
height:25px;
float:left;
margin: 6px 14px 0 6px;
overflow: hidden;
}

#person_name{
display: block;
line-height: 14px;
margin: 0 0 0 45px;
overflow: hidden;
padding: 12px 0 0;
white-space: nowrap;
width: 70px;
}

.person_a{
border: 1px solid rgba(0, 0, 0, 0.1);
color: #000000 !important;
display: block;
height: 39px;
line-height: 39px;
overflow: hidden;
text-decoration: none;
text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
white-space: nowrap;
background-color: #FAFAFA;	
overflow: hidden;
padding: 0;
position: relative;
width: 120px;
}

.person_a span{
display: block;
line-height: 14px;
margin: 0 0 0 45px;
overflow: hidden;
padding: 12px 0 0;
white-space: nowrap;
width: 70px;
}

.person_li{
display: none;
z-index:10000;
}
.left_half{
float:left;
}
.right_half{
padding-top: 48px;
padding-bottom: 45px;
float:right;
}
/* end header */

/* paging part */
div.pagination {
font-family:Verdana,Tahoma,Arial,Helvetica,Sans-Serif;
font-size: 13px;
text-align:right;
padding:4px 6px 4px 0;
background-color:#fff;
color:#313031;
}

div.pagination a {
color:#0030ce;
text-decoration:none;
padding:5px 6px 4px 5px;
margin:0 3px 0 3px;
border:1px solid #b7d8ee;
}

div.pagination a:hover, div.pagination a:active {
color:#0066a7;
border:1px solid #b7d8ee;
background-color:#d2eaf6;
}
div.pagination span.current {
padding:5px 6px 4px 5px;
margin:0 3px 0 3px;
border:1px solid #b7d8ee;
font-weight:bold;
color:#444444;
background-color:#d2eaf6;
}
div.pagination span.disabled {display:none;}
/* end paging part */	

/* landing page part */
#trendTopics{  
float: left;
margin-right: 40px;
width: 550px;
}
	
#topUsers{
overflow: hidden;
width: 320px;
}

#topUsers ol{
margin: 5px;
padding: 0 0 0 20px;
}

#topUsers ol li{
list-style-type: decimal;
}

.category h3{
border-bottom: 1px solid #E6E6E6;
color: #999999;
margin: 40px 0 18px;
padding-bottom: 10px;
text-shadow: 0 1px 0 #FFFFFF, 0 1px 0 #EEEEEE;
}
/* end landing page part */

/* published steps part */
.published-steps {
background: none repeat scroll 0 0 #FBFBFB;
border: 1px solid #E2E0E0;
box-shadow: 0 0 5px rgba(212, 212, 212, 0.3);
font-size: 12px;
margin: 0 0 5px;
padding: 10px 0 0;
width: 660px;
}

.published-steps .tabs {
margin-bottom: -1px;
padding: 0 10px;
}

.published-steps .post-tab, .published-steps .notify-tab, .published-steps .share-tab {
background: -moz-linear-gradient(center top , #FFFFFF 0%, #F0F0F0 100%) repeat scroll 0 0 #F0F0F0;
border: 1px solid #E2E0E0;
margin: 0 12px 0 0;
padding: 10px;
position: relative;
text-align: left;
text-shadow: none;
width: 199px;
color: #444444;
display: inline-block;
font-size: 13px;
font-weight: bold;
line-height: 1;
text-decoration: none;
cursor:pointer;
}

.published-steps .post-tab .icon{
background: url("../img/embed.ico") no-repeat scroll left top transparent;
height: 21px;
position: absolute;
width: 21px;
}

.published-steps .notify-tab .icon{
background: url("../img/radio.png") no-repeat scroll left top transparent;
height: 21px;
position: absolute;
width: 21px;
}

.published-steps .share-tab .icon{
background: url("../img/share.ico") no-repeat scroll left top transparent;
height: 21px;
position: absolute;
width: 21px;
}

.published-steps .post-tab h2, .published-steps .notify-tab h2, .published-steps .share-tab h2 {
color: #4E88BB;
font-size: 14px;
margin-bottom: 3px;
margin-top:0;
}

.published-steps .post-tab span, .published-steps .notify-tab span, .published-steps .share-tab span {
color: #878787;
font-size: 12px;
font-weight: normal;
}

.published-steps .post-tab h2, .published-steps .notify-tab h2, .published-steps .share-tab h2, .published-steps .post-tab span, .published-steps .notify-tab span, .published-steps .share-tab span {
margin-left: 30px;
}

.published-steps .steps {
background: none repeat scroll 0 0 #FFFFFF;
border-top: 1px solid #E2E0E0;
overflow:auto;
}

.published-steps .post-content, .published-steps .notify-content, .published-steps .share-content {
display: none;
}

.published-steps .notify-content, .published-steps .post-content, .published-steps .share-content{
 padding:10px 10px 0 10px;
}

.spacer {
height: 10px;
}

.published-steps .steps h2 {
clear: left;
font-size: 16px;
padding:0;
margin: 0 0 5px;
}

.notify-user input[type="checkbox"] {
clear: none;
float: left;
margin: 3px 5px 0;
}

.notify-user {
float: left;
margin: 0 20px 5px 0;
}

.tweet_control{
float:right;
}

.word_counter {
color: #B8B7B7;
font-family: Constantia,Georgia;
font-size: 22px;
font-weight: 700;
}

.notify-user span {
display: block;
float: left;
font-size: 10pt;
margin: 0;
padding: 0;
}

.notify-user span a{
line-height:1.8;
}

.notify-tweet {
border: 1px solid #CCCCCC;
font-size: 10pt;
height: 40px;
margin-bottom: 5px;
padding: 5px;
resize: none;
width: 627px;
overflow:auto;
}

.publish-tweet {
border: 1px solid #CCCCCC;
font-size: 10pt;
height: 50px;
margin-top:5px;
margin-bottom: 8px;
padding: 5px;
resize: none;
width: 426px;
overflow:auto;
}
/* end published steps part */

/*slider part */
#page-wrap{ 
background: white; width: 920px; margin: 0 auto; 
padding:0; 
}

#slider{
background: white url(../img/slider-bg.jpg); height: 227px; overflow: hidden;
position: relative; margin: 50px 0; 
}
								  
#slider2{ 
background: white; height: 227px; overflow: hidden;
position: relative; margin: 50px 0;
}
								  
/* DEFAULT is for three panels in width, adjust as needed
This only matters if JS is OFF, otherwise JS sets this. */								  
#mover{ width: 2760px; position: relative; }
.slide{
padding: 40px 30px; 
width: 860px; 
float: left; 
position: relative;
}
.slide h1{
font-family: Helvetica, Sans-Serif;
font-size: 30px; 
letter-spacing: -1px;
color: #ac0000;
}
.slide p{
color: #999; 
font-size: 12px; 
line-height: 22px; 
width: 300px;
}
.slide img{ 
position: absolute; 
top: 60px; 
left: 400px; 
}
#slider-stopper{ 
position: absolute; 
top: 1px; 
right: 20px; 
background: #438CC3; 
color: white;
padding: 3px 8px; 
font-size: 10px; 
text-transform: uppercase; 
}
/*end slider part */
								  
/* source page part */
#source_ul
{
padding:0;
}

#source_ul li{
margin-bottom:20px;
}

#source_ul li .source_name{
vertical-align:top;
}

#source_ul li .source_status{
float:right;
margin-right:420px;
vertical-align:top;
}

#source_ul li .unbind_source{
margin-left:70px;
}
/* end source page part */

/* topic part */
#tagstory_ul
{
  padding: 0;
}

.tagstory_li
{
  margin-bottom:20px;
}
/*end topic part */

/* edit story part*/
.weibo_content{overflow:hidden;}
#story_list .story_signature {overflow:hidden; margin-bottom:10px; margin-right:20px;}
#source_pane{position:fixed; top:70px; width:390px; height:800px; }
#story_pane{width:510px; min-height: 754px;}
#source_list{height:664px; overflow:auto; padding:0; margin:0; border: 1px solid #C9C9C9; border-top: none; border-radius:5px 5px 5px 5px; cursor:move;}
#story_list{position: inherit; margin:0; min-height:603px; border: 1px solid #C9C9C9; border-radius:0px 0px 5px 5px; height:auto; overflow:hidden; list-style: none outside none;}
#story {}
#storylist_container {}
.loadmore {padding: 0 150px 0 150px;}
.weibo_content{margin-left:36px;}
.create_time{padding-left:36px;}
.weibo_img, .weibo_retweet_img{margin:3px 0;}
.weibo_img_drop, .weibo_retweet_img_drop{margin:3px 0; text-align:center;}
.weibo_img_drop img, .weibo_retweet_img_drop img{width:280px;}


.weibo_drag, .video_Drag, .pic_Drag, .douban_drag{padding:5px; margin:8px; border-color:#ababac;
  border-style:solid;
  border-width:1px;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  overflow:auto;
 }
 
 .list_t_weibo{
 background: none repeat scroll 0 0 #E1F0F7;
    border-radius: 30px 30px 30px 30px;
    display: inline-block;
    margin: 0 5px 5px 0;
    padding: 0 10px;
    text-decoration: none;
 }
 
 #trends_wrapper{

margin:8px 8px 8px 14px; 
padding:8px;
overflow:auto;
}

#trends_wrapper div{
float:left; 
margin-right:10px;
}
 
 .video_Drag, .pic_Drag{
 overflow:auto;
 }
 
 .youku_wrapper{
 text-align:center;
 }
 
 .video_element{
  margin:0 auto;
  width:420px;
 }
 
 .video_drop1{
  margin:auto;
  width:95%;
 }
 
  .video_drop{
  padding:0px 5px 5px 5px;
  border-color:#ababac;
  border-style:solid;
  border-width:1px;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  margin:auto;
  width:95%;
  overflow:auto;
 }
  
  .weibo_drop{padding:0px 5px 5px 5px;
  border-color:#ababac;
  border-style:solid;
  border-width:1px;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  margin:auto;
  width:95%;
  overflow:hidden;
  position:relative;}
  
.weibo_date_drop span a, .douban_date_drop span a{
color:#939393;
}
  
  .douban_drop{padding:0px 5px 5px 5px;
  border-color:#ababac;
  border-style:solid;
  border-width:1px;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  margin:auto;
  width:95%;
  overflow:hidden;}
  
  .pic_drop{padding:0px 5px 5px 5px;
  border-color:#ababac;
  border-style:solid;
  border-width:1px;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  margin:auto;
  width:95%;
  overflow:auto;}
  
.source_drag {padding:5px;margin:5px;}

.editted{padding:0px 5px 5px 5px;
  border-color:#ababac;
  border-style:solid;
  border-width:1px;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  }
  
.cross{
  padding-left:472px;
}

.yupoo_wrapper{
position:relative;
margin:0px auto; 
text-align:center; 
border: 5px solid #FFFFFF; box-shadow: 0 0 10px rgba(0, 0, 0, 0.4); 
max-width: 260px;
}

.yupoo_sign{
background: url("../img/yupoo-logo.png") no-repeat scroll 0 0 transparent;
height: 30px;
right: 10px;
position: absolute;
bottom: 0;
width: 30px;
}

.content_wrapper{
padding-left:26px;
background: url('../img/apostrophe.png') no-repeat scroll 0 0 transparent !important;
}
  
.addTextElementAnchor{
height:16px;
}
  
.add_comment{
width: 16px;
height: 16px;
overflow: hidden;
margin-left:2px;
}
  
 .textElement{
margin:auto;
width:95%;
overflow:auto;
}
 
 .cover{
display: block;
height: 190px;
overflow: hidden;
padding: 0;
position: relative;
width: 190px;	
}
 
 .title_wrap{
bottom: 13px;
margin: 0;
position: absolute;
width: 185px;
text-align:left;
}
 
 .topic_cover{
background-repeat: no-repeat;
display: block;
height: 100px;
overflow: hidden;
padding: 0;
position: relative;
width: 100px;
}
 
 .topic_cover .title_wrap{
bottom: 13px;
margin: 0;
position: absolute;
width: 100px;
text-align:left;
}
 
 .title_wrap .title{
background: none repeat scroll 0 0 rgba(0, 0, 0, 0.8);
color: #FFFFFF;
display: inline;
font: bold;
padding: 1px 0;
text-shadow: 0 0 2px rgba(0, 0, 0, 0.8);
text-transform: uppercase;
}
 
 .title_wrap .title:hover{
background: none repeat scroll 0 0 rgba(100, 100, 100, 0.8);
}
 
.weiboLi, .tweiboLi, .doubanLi, .videoLi, .yupooLi{
 padding:5px 0 5px 5px;
 }
 
 .source_img{
height:24px; border:0px; width:24px;
 }
 
 #weibo_search ,  #douban_search,  #pic_search{
   padding-left:4px;
 }

 #weibo_search .sep,  #douban_search .sep,  #pic_search .sep{
   padding-top:52px;
 }
 
 #weibo_search input,  #douban_search input,  #pic_search input, #videoTabs input{
   width: 260px; vertical-align:top;
 }
 
 #weibo_search_btn, #douban_search_btn, #pic_search_btn, #embedVideo{
   vertical-align:top;
 }
 
#douban_search_btn, #pic_search_btn{
   width: 76px;
 }
 
 #story_pic{
 width:100px;
 min-height:100px;
 float:left;
 margin-right:20px;
 }
 
 #story_pic p {
margin:0;
width:98px;
height:98px;
overflow:hidden;
background: none repeat scroll 0 0 #FFFFFF;
border: 1px solid #CCCCCC;
border-radius: 3px 3px 3px 3px;
display: block;
padding: 3px;
text-align: center;
 }
 
#story_pic p img{
background: none repeat scroll 0 0 #FFFFFF;
border: 1px solid #BBBEBF;
border-radius: 2px 2px 2px 2px;
display: block;
max-height: 90px;
padding: 4px;
}
 
#story_pic ul{
list-style: none outside none;
margin: 4px 2px 2px 5px;
overflow: hidden;
padding: 0;
width: 100%;
}
 
#story_pic ul li{
float:left;
}

#story_pic ul li *{
border: 1px solid #BBBEBF;
float: left;
height: 16px;
width: 46px;
}
 
#sto_title{
width:360px; margin:1px 0 10px; font-weight:bold;height:30px;
}
 
#sto_summary{
width:360px; height:80px; margin-bottom:10px; 
}
 
#sto_tag{
width:480px; margin:0; height:25px;
}

.loadmore {
background-color:#FFFFFF;
background-image:url("../img/more.gif");
background-position:left top;
background-repeat:repeat-x;
border-color:#DDDDDD #AAAAAA #AAAAAA #DDDDDD;
border-style:solid;
border-width:1px;
display:block;
font-size:14px;
font-weight:bold;
height:15px;
line-height:1.5em;
outline:medium none;
padding:6px 0;
text-align:center;
text-shadow:1px 1px 1px #FFFFFF;
width:95%;
margin: 0 auto;
margin-bottom:6px;
}
 
/* publish part*/
.load_more {
background-color:#FFFFFF;
background-image:url("../img/more.gif");
background-position:left top;
background-repeat:repeat-x;
border-color:#DDDDDD #AAAAAA #AAAAAA #DDDDDD;
border-style:solid;
border-width:1px;
display:block;
font-size:14px;
font-weight:bold;
height:22px;
line-height:1.5em;
margin-bottom:6px;
outline:medium none;
padding:6px 0;
text-align:center;
text-shadow:1px 1px 1px #FFFFFF;
width:95%;
margin: 0 auto;
}
.load_more {
	-moz-border-radius:5px 5px 5px 5px;
}
.load_more:hover {
background-position:left -78px;
border:1px solid #BBBBBB;
text-decoration:none;
}
.load_more:active {
background-position:left -38px;
color:#666666;
}

.story_title{
  padding-left:20px;
  font-size: 30px;
  font-weight: 300;
  line-height: 1.4;
}

.story_author{
  padding-left:20px;
}

.story_author a{
  margin-left:8px;
}

.story_sum{
  padding-left:20px;
  margin-top:10px;
  color:#555555;
}

.story_tag{
  margin-top:5px;
  padding-left:20px;
  font-style:italic;
  color:#555555;
}

.tool_wrapper{
  border-bottom: 1px solid #E6E6E6;
  overflow:auto;
}

.story_share{
  overflow:auto;
  padding:5px 0 10px 20px;
}

#story_embed{
  float:right;
  margin-right:10px;
}

.sto_embed{
margin-left:10px;
margin-right:10px;
}

#embed_bar{
background: none repeat scroll 0 0 #EFEFEF;
display:none;
padding: 5px 0;
clear:both;
}

.arrow_up{
display:none;
}

#story #story_header{
 border: 1px solid #C9C9C9; border-radius: 5px 5px 0px 0px; border-bottom:none; padding: 10px 10px 15px 10px;
 }

#weibo_ul li{
margin-top:25px;
}

#weibo_ul .douban_drop{
width:98%;
position: relative;
}

#weibo_ul .douban_drop .douban_wrapper{
width:70%;
margin:0 auto;
}

#weibo_ul .weibo_drop{
width:98%;
}

#weibo_ul .story_wrapper{
width:70%;
margin:0 auto;
}

.item_action{
border: 1px solid rgba(0, 0, 0, 0.3);
border-radius: 5px;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
display: block;
height: auto;
margin: 0 -10px 0 0 !important;
opacity: 0.3;
padding: 0 !important;
position: absolute;
right: -55px;
width: 87px;
z-index: 100;
}

#weibo_ul .item_action{
top: 5px;
}

#story_list .item_action{
bottom: 7px;
}

.item_action a{
display:block;
}
.item_action a img{
margin-left:5px;
vertical-align:top;
margin-top:2px;
}

.item_action a span{
margin-left:5px;
vertical-align:top;
}

.item_action:hover{
opacity: 1;
right: -5px;
background-color:rgba(245,245,245,0.9);
}

#story_container{
width:920px; margin:0 auto; padding-top:50px; min-height:650px; position:relative; 
}

.follower_list, .following_list{
padding:0;
list-style-type:none;
}

.digg_wrap{
display:none;
position:absolute;
top:50px;
left:-58px;
height:62px;
width:54px;
border-color:#ababac;
border-style:solid;
border-width:1px;
border-radius:5px;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
text-align:center;
}

#publish_container{
border-color:#ababac;
border-style:solid;
border-width:1px;
border-radius: 5px;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
width:660px;
}

#userinfo_container{
width:210px;
height:600px;
float:right;
border-color:#ababac;
border-style:solid;
border-width:1px;
border-radius:5px;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
}

.user_profiles{
border-radius: 3px 3px 3px 3px;
margin: 40px 0 0;
width: 210px;
}

.user_box{
padding:10px;
}

.story_stats{
padding:10px;
}

.user_box .avatar{
background: none repeat scroll 0 0 #FFFFFF;
border: 1px solid #CCCCCC;
border-radius: 3px 3px 3px 3px;
height: 80px;
padding: 4px;
width: 80px;
margin-bottom:5px;
}

.user_box .avatar a{
background-size: cover;
display: block;
height: 100%;
width: 100%;
}

.follow_btn1{
margin: 5px 0 10px;
display:block;
padding: 5px 0;
text-align: center;
width: 88px;
height:20px;
border:solid;
border-color: #ABABAC;
}

.follow_btn{
width: 88px;
height:30px;
}

.userbox p {
margin: 0 0 10px;
}

.usersfollowers, .usersfollowing {
font-weight: bold;
margin: 18px 0 0;
position: relative;
overflow:auto;
}

.count{
font-weight: normal;
position: absolute;
right: 0;
top: 1px;
}

.follow_mini_icon img {
display: block;
float: left;
height: 24px;
margin: 0 6px 6px 0;
width: 24px;
}

#story_action {
padding-top:4px;
background-color:#ababac;
}
/* publish part*/

.setting_bar{
background-color: #FFF6EE;
float: left;
margin-bottom: 21px;
overflow: hidden;
width: 100%;
}

.setting_bar div{
float: left;
margin-left: 50px;
padding-right: 5px;
}

.setting_bar a{
display: block;
float: left;
line-height: 14px;
text-decoration: none;
padding:5px;
margin-top:6px;
margin-left:30px;
}

.setting_bar span.now{
background-color: #FFFFFF;
display: block;
float: left;
margin-top:4px;
padding: 3px 5px 3px 5px;
}

/* List all the story part*/
.story_wrap{
position: relative;
}

.editable{
background: none repeat scroll 0 0 rgba(0, 0, 0, 0.6);
padding: 4px 0;
position: absolute;
top: 0;
width: 100%;
}

.editable .status{
float: left;
font-size: 11px;
font-weight: bold;
}

.editable .status .Draft{
color: #F3AE05;
}

.editable .status .Published{
color: #AAC400;
}

.editable .status .icon {
background: url("img/storystatus.png") no-repeat scroll 0 0 transparent;
margin-right: 5px;
}

.editable .actions {
float: right;
}

.editable .actions, .editable .status {
padding: 0 4px;
}

#userstory_container{margin-top:30px; margin-bottom:30px; overflow:auto; zoom:1;}
.userstory_list {}
.userstory_list ul {padding:0;}
.userstory_list ul li {
margin:20px 10px 0px 15px; 
border: 1px solid #DDDDDD;
border-radius: 3px 3px 3px 3px;
color: #323232;
display: inline-block;
padding: 5px;
text-decoration: none;
}
	
#popularstory_list {}
#popularstory_list ul {padding:0;}
#popularstory_list ul li {
border: 1px solid #DDDDDD;
border-radius: 3px 3px 3px 3px;
color: #323232;
display: inline-block;
padding: 5px;
text-decoration: none;
zoom: 1;
}
	
.topic_list ul {padding:0;}
.topic_list ul li {
float:left; 
margin:10px 10px 0px 0px;
border: 1px solid #DDDDDD;
border-radius: 3px 3px 3px 3px;
color: #323232;
display: inline-block;
padding: 5px;
text-decoration: none;
}
	
.story_count{
float:right;
}
/* List all the story part*/

/*account associate part*/
.form_wrapper{
width: 760px; margin: 0 auto; overflow:hidden;
}

#account_meta{
background-color: #FAFAFA;
border: 1px solid #EEEEEE;
border-radius: 3px 3px 3px 3px;
margin: 0 0 20px;
position: relative;
}

#account_meta .account_title{
font-size: 14px;
padding: 10px;
border-bottom: 1px solid #EDEDED;
}

#account_meta .meta_wrapper{
margin-left:60px;
}

#account_meta .meta_wrapper div{
margin-bottom:3px;
}

#account_meta .account_count span{
margin-right:10px;
}

#form_1, #form_2{
background-color: #FAFAFA;
border-color: -moz-use-text-color #EEEEEE #EEEEEE;
border-right: 1px solid #EEEEEE;
border-style: none solid solid;
border-width: medium 1px 1px;
height: 210px;
padding: 14px 14px 14px 50px;
}

#form_1 form div, #form_2 form div{
margin-bottom:10px;
}

#form_1 label, #form_2 label{
float: left;
height: 32px;
line-height: 32px;
margin-right: 10px;
padding: 0;
text-align: right;
width: 50px;
}

#form_1 input, #form_2 input{
height: 20px;
line-height: 20px;
overflow: hidden;
padding: 5px;
width: 240px;
}

#select_form .selected{
background-color: #FAFAFA;
border-color: #EEEEEE #EEEEEE #FAFAFA;
border-style: solid;
border-width: 1px;
width: 379px;
float:left;
}

#select_form .unselected{
background-color: #FFFFFF;
border-bottom: 1px solid #EEEEEE;
cursor: pointer;
float:left;
width:379px;
}

.selected div{
color: #888888;
font-size: 12px;
padding: 14px;
}

.left.unselected div{
margin: 0 5px 5px 0;
padding: 14px 14px 11px;
background-color: #EEEEEE;
}

.right.unselected div{
margin: 0 0 5px 5px;
padding: 14px 14px 11px;
background-color: #EEEEEE;
}

#publishBtn{
background-color: #007AC4;
color: white;
font-size: 13px;
font-weight: bold;
height: 32px;
line-height: 32px;
padding: 9px 12px;
text-align: center;
text-shadow: 0 0 2px #444444;
width: auto;
border-left: 0 none;
border-top: 1px solid rgba(255, 255, 255, 0.5);
}
#publishBtn:hover{background-color: #1D87CC;}

#previewBtn{
background-color: #EFEFEF;
color: #444444;
font-size: 12px;
font-weight: bold;
height: 32px;
line-height: 32px;
padding: 9px 12px;
text-align: center;
width: auto;
}
#previewBtn:hover, #draftBtn:hover { color: #666666; text-decoration: none;}

#draftBtn{
background-color: #EFEFEF;
color: #444444;
font-size: 12px;
font-weight: bold;
height: 32px;
line-height: 32px;
padding: 9px 12px;
text-align: center;
width: auto;
}

.aa_submit a{
background-color: #007AC4;
border: 1px solid #2288CC;
border-radius: 2px; -moz-border-radius: 2px; -webkit-border-radius: 2px;
color: white;
display: block;
float: left;
font-size: 14px;
font-weight: bold;
height: 30px;
line-height: 30px;
margin-left: 60px;
padding: 0 14px;
text-align: center;
text-shadow: 0 0 2px #444444;
width: auto;
}

#btn_submit_signup a{
background-color: #007AC4;
border: 1px solid #2288CC;
border-radius: 2px; -moz-border-radius: 2px; -webkit-border-radius: 2px;
color: white;
font-size: 14px;
font-weight: bold;
height: 30px;
line-height: 30px;
margin-left: 30px;
padding: 10px 14px;
text-align: center;
text-shadow: 0 0 2px #444444;
width: 72px;
}

#loginbtn a, #update_btn a, #btn_submit_forget, #btn_cfm_pwd, .btn_w_publish{
display:block;
background-color: #007AC4;
background-repeat: repeat;
border: 1px solid #2288CC;
border-radius: 2px; -moz-border-radius: 2px; -webkit-border-radius: 2px;
color: white;
font-size: 14px;
font-weight: bold;
height: 30px;
line-height: 30px;
padding: 0 14px;
text-align: center;
text-shadow: 0 0 2px #444444;
}

.blue_btn{
display:block;
background-color: #3399DD;
background-repeat: repeat;
border: 1px solid #2288CC;
border-radius: 2px; -moz-border-radius: 2px; -webkit-border-radius: 2px;
color: white;
font-size: 14px;
font-weight: bold;
height: 30px;
line-height: 30px;
padding: 0 14px;
text-align: center;
text-shadow: 0 0 2px #444444;
}

#loginbtn a{
width:52px;
}

#update_btn a, #btn_submit_forget{
width: 66px;
}

#btn_cfm_pwd{
width:72px;
}

#loginbtn a:hover, #update_btn a:hover, #btn_submit_forget:hover, #btn_cfm_pwd:hover, .btn_w_publish:hover, #btn_submit_signup a:hover{
background-color: #1D87CC;
}

.btn_w_publish{
width:52px;
float:right;
}
/*.btn_w_publish:hover{
background-color: #666666;
}*/
/* content part */
.content { margin:25px 0; position:relative;}
#homepage {margin-top:10px; position:relative;}
#homepage .inner {
overflow:hidden;
}
div #homepage.content-a {
background: -webkit-gradient(
linear,
left bottom,
left top,
color-stop(0.70, #fff),
color-stop(0.80, #ededed)
);
}
div .content-a { padding: 10px 0 20px; background: #fff; }
div.inner {width: 920px; margin: 0 auto; overflow:hidden;}
div.cols-b { width: 100%; }
div.cols-b:after { display: block; overflow: hidden; clear: both; content: ""; width: 100%; height: 0; }

.cols-b.signup p {
color: #555;
}


.cols-b.signup p {
font-size: 14px;
}

.cols-b.signup h3 {
font-size: 32px;
line-height:1.3;
text-shadow: 1px 1px 2px #fff;
margin-top:20px;
}

#demoVideo {
float:left;
width:420px;
height:301px;
padding:0 50px 0 0;
}

#intro{
float:left;
margin-left:30px;
}

#login_modal {width:200px;}
#login_modal div {margin-top:20px;}
#login div {margin-top:20px;}
.showborder {border: 1px solid #C9C9C9;}
#login_btn {padding: 3px 8px; border: 1px solid #C9C9C9; color: #336699; background: repeat-x; cursor:pointer;}
#login_btn{border-radius: 3px; -moz-border-radius: 3px; -webkit-border-radius: 3px;}
#login_btn:hover {background-color: #f5f5f5}

#login_modal_btn, #copy_btn{padding: 3px 8px; border: 1px solid #C9C9C9; color: #336699; background: repeat-x; cursor:pointer; height:auto; border-radius: 3px; -moz-border-radius: 3px; -webkit-border-radius: 3px;}
#login_modal_btn:hover, #copy_btn:hover {background-color: #f5f5f5}

#weibo_btn {width:90px; height:28px; border-radius: 3px; -moz-border-radius: 3px; -webkit-border-radius: 3px; background: url(../img/weibo.png);}
#connectBtn{
background-color: #F0F0F0;
border: 1px solid #DDDDDD;
border-radius: 3px 3px 3px 3px;
color: #444444 !important;
display: block;
float: left;
font-weight: bold;
padding: 0;
text-align: center;
}

#connectBtn:hover{
background-color: #E9E9E9;
}

.sina_icon{
background: url("../img/sina24.png") no-repeat scroll 0 0 transparent;
float: left;
height: 24px;
margin-left: 3px;
position: relative;
top: 3px;
width: 24px;
}

.sina_name{
float: left;
font-size: 14px;
height: 30px;
line-height: 30px;
padding: 0 9px;
}
/* content part */

#user { position: absolute; right: 0; top: 5px; float: right; }
#user p.image { position: absolute; right: 0; top: 1px; padding:0px;}
#user p.image img { float: left; border: 2px solid #c6dbe5; }
#user h3 { margin: 0 50px 4px 0; padding: 1px 0 0; color: #202a2f; font-size: 1.3em; line-height: 1.1; font-weight: bold; white-space: nowrap; text-align: right; }
#user ul { list-style: none; margin: 0 45px 0 0; padding: 0; }
#user.pre ul { margin: 11px 0 0; }
#user ul li { float: left; margin: 0 0 0 3px; font-size: 1.1em; line-height: 1.2; }
/*#user ul li a { float: left; padding: 3px 8px; background: #f7f8f8 url(http://static.storify.com/img/user-bg-a.gif) repeat-x; color: #86abc4; }*/
#user ul li a { border-radius: 3px; -moz-border-radius: 3px; -webkit-border-radius: 3px; }

#footer {
margin: 0 auto; 
width:920px;
border-top: 1px solid #E3E5E6;
padding: 0 0 1px;
margin-top:0;
clear:both;
}
	
#footer .wrapper{overflow:auto;}
.editor #footer {width:100%; position:fixed;  top:900px; bottom: 0; z-index:200;background: none repeat scroll 0 0 #F9F9F9;}
.editor #footer .wrapper{position:absolute; width:920px; left:50%; margin-left:-460px;}
#footer p { color: #BBBBBB; font-size: 1.1em; }
#footer ul { float: right; list-style: none; padding: 0;}
#footer ul li { display: inline; float: left; margin: 0 0 0 20px; font-size: 1.1em; }

.blue {color:#438cc3}

/*singin part */
#signin p {
clear:left;
}
#signin {
float:left;
margin:20px 0px 0px 0px;
text-align: center;
position:relative;
}

#signin input {
clear: none;
float: none;
margin: 0px;
width: auto;
}

#signin .inputEmail {
-moz-border-radius-bottomleft:3px;
-moz-border-radius-topleft:3px;
-webkit-border-bottom-left-radius:3px;
-webkit-border-top-left-radius:3px;
font-size:11pt;
float:left;
border:1px solid #D1D5D7;
float:left;
height:26px;
margin:0;
padding:4px 5px 0;
width:245px;
color: #A9A9A9;
}

#signin #saveBtn {
/*background:url("http://static.storify.com/img/forms-submit-bg-a.png") no-repeat scroll 0 0 transparent;*/
border-color:#D1D5D7 #D1D5D7 #D1D5D7 -moz-use-text-color;
border-style:solid solid solid none;
border-width:1px 1px 1px medium;
color:#00538D;
float:left;
font-size:12px;
font-weight:bold;
height:32px;
margin:0;
padding:0px 10px 0;
}

#signin a,#requestInvitation a {
font-size: 18px;
line-height: 28px;
}

#signin h4 {
clear:left;
}

#signin form {
width:300px;
margin:0 auto;
}

#thankYou {
height:60px;
margin:0 auto;
text-align:center;
font-size:14px;
position:absolute;
top:0;
left:0;
display:none;
margin-left:70px;
width:270px;
}

.storySnippets {
margin:20px 0px;
clear:both;
width:100%;
}

#sign_up div {margin-top:20px;}
/*modal window part */

#mask {
position:absolute;
left:0;
top:0;
z-index:9000;
background-color:#c7c7c7;
display:none;
}
  
#boxes .window {
position:absolute;
left:0;
top:0;
width:440px;
height:200px;
display:none;
z-index:9999;
}

#boxes .close{
float:right;
}

#boxes #dialog {
width:550px;
height:230px;
background-color:#ffffff;
border-color:#ababac;
border-style:solid;
border-width:5px;
border-radius: 9px;
-moz-border-radius: 9px;
-webkit-border-radius: 9px;
}

#boxes #weibo_dialog {
width:440px;
height:190px;
background-color:#ffffff;
border-color:#ababac;
border-style:solid;
border-width:4px;
border-radius: 4px;
-moz-border-radius: 4px;
-webkit-border-radius: 4px;
padding:10px;
}

.pub_imply_sina, .pub_imply_tencent{
display:none;
}

#vtab {
margin: auto;
width: 425px;
height: 100%;
margin-left:-35px;
}

#vtab > ul > li {
width: 35px;
height: 24px;
background-color: #fff !important;
list-style-type: none;
display: block;
border: 1px solid #fff;
position: relative;
border-right: none;
}

#vtab > ul > li.selected {
opacity: 1;
-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
border: 1px solid #ddd;
border-right: none;
z-index: 10;
background-color: #fafafa !important;
position: relative;
}

#vtab > ul {
float: left;
width: 35px;
text-align: left;
display: block;
margin: auto 0;
padding: 0;
position: relative;
top: 26px;
}
#vtab > div{
background-color: #fafafa;
margin-left: 35px;
border: 1px solid #ddd;
min-height: 50px;
padding: 12px;
position: relative;
z-index: 9;
-moz-border-radius: 5px;
}
