html{color:#111}
body{color:#333;font:12px/1.2 "Helvetica Neue",Helvetica,Arial,sans-serif;text-align:left;line-height:22px;background:url("../img/bg.jpg") repeat fixed 0 0 #F9F9F9;margin:0;padding:0}
td{padding:5px}
img{image-rendering:optimizeQuality;-ms-interpolation-mode:bicubic;border:0;border-width:0}
input{border:1px solid #999;color:#333;height:20px;vertical-align:middle;line-height:20px}
textarea{border:1px solid #999;color:#333;font-size:12px}
a{cursor:pointer;outline:none;hide-focus:expression(this.hideFocus=true)}
a:link{color:#369;text-decoration:none}
a:visited{color:#669;text-decoration:none}
a:active{color:#FFF;text-decoration:none}
ol,ul,li{list-style:none}
ul,ol,dl,p,table,pre,h1,h2,h3,h4,h5,h6{margin-bottom:15px}
h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:400}
.text{font-family:'Hiragino Sans GB','Microsoft YaHei',sans-serif!important}
.color_alert{color:red}
.p_relative{position:relative}
.loading_wrapper{padding-left:180px}
.page_title{color:#494949;display:block;font-size:25px;font-weight:700;line-height:1.1;margin-top:30px;word-wrap:break-word;padding:0 0 20px}
input[type="checkbox"],input[type="radio"]{background:transparent;border:0}
.none{visibility:hidden}
.imply_color{color:#999}
.bind_txt{text-align:center;margin-top:10px}
.field_name{width:80px;display:inline-block}
.err_notify{color:red;margin-bottom:5px;padding-left:84px}
.form_tip{padding-left:20px;color:#669;display:none}
#code_tip{padding-left:20px;color:#669}
#term_tip{padding-left:76px;color:#669;display:none}
.a_notify{width:100%;text-align:center;background-color:#FFF6EE}
.bn_submit{width:80px;height:28px;font-size:14px;line-height:28px;padding-bottom:3px;cursor:pointer;color:#000}
.title{height:50px;font-size:20px;font-weight:700}
.clear{clear:both}
body.editor{background:none repeat-y scroll 0 0 #F9F9F9}
#featured_container #featured img{width:920px;height:380px}
#login_form_f{margin-top:50px;float:left;width:620px;padding-bottom:10px}
#login_form_r{float:right;margin-top:100px}
#login_form_r .register_awesome{margin:5px 0 20px}
#login_form_f .form_title{color:#494949;display:block;font-size:25px;font-weight:700;line-height:1.1;word-wrap:break-word;margin:0;padding:0 0 30px}
#login_form{padding-left:30px}
#login_form .color_alert{padding-left:38px}
#login_form #email_login,#login_form #pwd_login{width:200px}
#login_form #loginbtn{padding:8px 0 0 36px}
#fb_form{margin:50px 0}
#lzform table{clear:both;width:100%}
#lzform .user_photo{float:left;width:80px;height:80px}
#lzform .update_profile_img{margin-left:10px;float:left}
.douban_sig_logo{background:url("../img/editsprite.png") no-repeat scroll 0 -39px transparent;width:16px;height:16px;display:inline-block;float:right}
#user_feedback_tab{background-color:#007AC4;background-image:url("../img/feedback.png");display:block;height:98px;position:fixed;top:40%;right:0;width:25px;text-indent:-9000px;z-index:100001;cursor:pointer;border:1px solid #007AC4;border-right:none;padding:0}
.awesome,.awesome:visited{background:#222 url(../img/alert-overlay.png) repeat-x;display:inline-block;color:#fff;text-decoration:none;-moz-border-radius:5px;-webkit-border-radius:5px;-moz-box-shadow:0 1px 3px rgba(0,0,0,0.5);-webkit-box-shadow:0 1px 3px rgba(0,0,0,0.5);text-shadow:0 -1px 1px rgba(0,0,0,0.25);border-bottom:1px solid rgba(0,0,0,0.25);position:relative;cursor:pointer;padding:5px 10px 6px}
.awesome:hover{background-color:#111;color:#fff}
.awesome:active{top:1px}
.small.awesome,.small.awesome:visited{font-size:11px}
.awesome,.awesome:visited,.medium.awesome,.medium.awesome:visited{font-size:13px;font-weight:700;line-height:1;text-shadow:0 -1px 1px rgba(0,0,0,0.25)}
.large.awesome,.large.awesome:visited{font-size:14px;padding:8px 14px 9px}
.green.awesome,.green.awesome:visited{background-color:#38B927}
.green.awesome:hover{background-color:#84DA50}
.blue.awesome,.blue.awesome:visited{background-color:#007AC4}
.blue.awesome:hover{background-color:#39D}
#top_bar{background:none repeat scroll 0 0 #FFF;border-bottom:1px solid #D4D4D4;border-top:1px solid #FFF;box-shadow:0 2px 5px rgba(212, 212, 212, 0.3);height:42px;width:100%;position:relative;z-index:20;margin:0 auto}
#top_bar .top_nav{height:42px;border-bottom:none;color:#737373;width:920px;z-index:200;position:absolute;left:50%;margin:0 auto 0 -460px}
#top_bar .top_nav #top_menu_a{position:absolute;right:130px;overflow:auto;height:42px}
#top_bar .top_nav #top_menu_b{position:absolute;right:0;overflow:auto;height:42px}
.editor #top_bar{position:fixed;z-index:200}
#top_bar .user_console{position:absolute;right:0;top:0;min-width:120px;max-height:170px;border:1px solid #C9C9C9;border-top:none;margin:0;padding:0}
#logo{float:left;margin-top:3px}
#logo a img{width:120px;height:39px;border:0}
#user_action{padding-left:10px;position:relative;top:10px}
.edit_story_btn,.my_story_btn,.login_top,.register_top{margin-right:5px;border:1px solid #C9C9C9;border-top:none;border-bottom:none;float:right;height:30px;padding:11px 15px 0}
a.login_top:active{color:#369}
.edit_story_btn{background:none repeat scroll 0 0 #EFEFEF}
.register_top{margin-right:0}
#person_img{border:1px solid rgba(0, 0, 0, 0.1);box-shadow:0 1px 0 rgba(255, 255, 255, 0.15);float:left;height:25px;overflow:hidden;width:25px;margin:6px 14px 0 6px}
.console_img{width:24px;height:24px;float:left;overflow:hidden;margin:6px 14px 0 6px}
.quit_icon .console_img{margin:6px 14px 0 9px}
.person_a{border:1px solid rgba(0, 0, 0, 0.1);color:#000!important;display:block;height:41px;line-height:40px;text-decoration:none;white-space:nowrap;background-color:#FAFAFA;overflow:hidden;position:relative;width:120px;padding:0}
.person_a_display{border-top:none}
.person_a:hover{background-color:#EFEFEF}
#storyContent{padding-top:65px;margin:0}
.right_half{float:right;padding-bottom:55px}
div.pagination{font-family:Verdana,Tahoma,Arial,Helvetica,Sans-Serif;margin-top:20px;font-size:13px;text-align:right;color:#313031;clear:both;padding:4px 0}
div.pagination a{color:#0030ce;text-decoration:none;border:1px solid #b7d8ee;margin:0 3px;padding:5px 6px 4px 5px}
div.pagination a:hover,div.pagination a:active{color:#0066a7;border:1px solid #b7d8ee;background-color:#d2eaf6}
div.pagination span.current{border:1px solid #b7d8ee;font-weight:700;color:#444;background-color:#d2eaf6;margin:0 3px;padding:5px 6px 4px 5px}
#trendTopics{float:left;width:550px;margin-right:40px}
#topUsers{overflow:hidden;width:320px;float:left}
#topUsers ol{margin:5px;padding:0 0 0 20px}
#topUsers ol li{list-style-type:decimal}
.category h3{border-bottom:1px solid #E6E6E6;color:#999;padding-bottom:10px;font-size:20px;font-weight:500;text-shadow:0 1px 0 #FFFFFF, 0 1px 0 #EEE;margin:40px 0 18px}
.published-steps{background:none repeat scroll 0 0 #FFF;border:1px solid #ABABAC;box-shadow:0 0 5px rgba(212, 212, 212, 0.3);font-size:12px;width:660px;margin:0 0 5px;padding:10px 0 0}
.published-steps .tabs{margin-bottom:-1px;padding:0 0 0 10px}
.published-steps .post-tab,.published-steps .notify-tab,.published-steps .share-tab{background:0 repeat scroll 0 0 #FFF;border:1px solid #ABABAC;position:relative;text-align:left;text-shadow:none;width:199px;color:#444;display:inline-block;font-size:13px;font-weight:700;line-height:1;text-decoration:none;cursor:pointer;margin:0 12px 0 0;padding:10px}
.published-steps .post-tab .icon{background:url("../img/usersprite.png") no-repeat scroll 0 -232px transparent;height:21px;width:21px;float:left}
.published-steps .notify-tab .icon{background:url("../img/usersprite.png") no-repeat scroll 0 -386px transparent;height:21px;float:left;width:21px}
.published-steps .share-tab .icon{background:url("../img/usersprite.png") no-repeat scroll 0 -424px transparent;height:21px;float:left;width:21px}
.published-steps .post-tab h2,.published-steps .notify-tab h2,.published-steps .share-tab h2{color:#4E88BB;font-size:14px;margin-bottom:3px;margin-top:0;margin-left:30px}
.post-content h2,.notify-content h2,.share-content h2{color:#878787;font-size:14px;font-weight:400}
.notify-content div{color:#878787}
.published-steps .post-tab span,.published-steps .notify-tab span,.published-steps .share-tab span{color:#878787;font-size:12px;font-weight:400;margin-left:10px}
.published-steps .steps{background:none repeat scroll 0 0 #FFF;border-top:1px solid #ABABAC;overflow:auto}
.published-steps .post-content,.published-steps .notify-content,.published-steps .share-content{display:none;overflow:auto}
.published-steps .notify-content,.published-steps .post-content,.published-steps .share-content{padding:10px 10px 0}
.spacer{height:10px}
.footer_spacer{height:180px}
.published-steps .steps h2{clear:left;font-size:16px;margin:0 0 5px;padding:0}
.notify-user input[type="checkbox"]{clear:none;float:left;margin:1px 5px 0}
.notify-user{float:left;margin:0 20px 5px 0}
.tweet_control{float:right;margin-right:2px;overflow:auto;height:40px}
.tweet_control .tweet_btn{text-align:right;vertical-align:middle}
.tweet_control .gray.flag{margin-right:15px}
.tweet_control #tweibo_f{margin-left:20px}
.tweet_control #remain_txt{margin-left:28px}
.word_counter{color:#B8B7B7;font-family:Constantia,Georgia;font-size:22px;font-weight:700}
.notify-user span{display:block;float:left;margin:0;padding:0}
.notify-tweet{border:1px solid #CCC;font-size:10pt;height:40px;resize:none;width:625px;overflow:auto;margin:2px 0 5px;padding:5px}
.publish-tweet{border:1px solid #CCC;font-size:10pt;height:50px;margin-top:5px;margin-bottom:8px;resize:none;width:426px;overflow:auto;padding:5px}
#source_ul{padding-left:20px;margin:15px 0 0}
#source_ul li{margin-bottom:30px}
#source_ul li a.sina_source{background:url("../img/sourcesprite.png") no-repeat scroll 0 -64px transparent;height:32px;display:inline-block;padding-left:170px}
#source_ul li a.tencent_source{background:url("../img/sourcesprite.png") no-repeat scroll 0 -128px transparent;height:32px;display:inline-block;padding-left:170px}
#source_ul li a.douban_source{background:url("../img/sourcesprite.png") no-repeat scroll 0 0 transparent;height:32px;display:inline-block;padding-left:170px}
#source_ul li a.yupoo_source{background:url("../img/sourcesprite.png") no-repeat scroll 0 -255px transparent;height:30px;display:inline-block;padding-left:170px}
#source_ul li a.youku_source{background:url("../img/sourcesprite.png") no-repeat scroll 0 -192px transparent;height:31px;display:inline-block;padding-left:170px}
#source_ul li .source_status{float:right;margin-right:420px}
#source_ul li .unbind_source{margin-left:70px}
#source_wrapper{margin-top:40px}
#source_wrapper h4{font-size:16px;color:#333;margin-bottom:20px}
#go_back_setting{text-align:right;margin-bottom:40px}
#tagstory_ul{margin:10px 0 30px;padding:0}
.tagstory_li .wrapper{width:920px;overflow:auto;padding-bottom:5px}
.tagstory_li .wrapper .count_wrapper span{color:#369}
.tagstory_li .wrapper .pic_meta{float:left;display:inline}
.tagstory_li .wrapper a img{width:80px;height:80px}
#story_list .story_signature{overflow:hidden;margin-bottom:5px}
#source_pane{position:fixed;top:65px;width:390px;z-index:100}
#story_pane{width:510px;background-color:#FFF}
#source_list{overflow:auto;border:1px solid #C9C9C9;border-top:none;border-radius:5px 5px 5px 5px;background-color:#FFF;margin:0;padding:0}
#story_list{border:1px solid #C9C9C9;border-radius:0 0 5px 5px;height:auto;overflow:hidden;list-style:none outside none;margin:0;padding:0}
.loadmore{padding:0 150px}
.weibo_img,.weibo_retweet_img{margin:3px 0}
.weibo_img_drop,.weibo_retweet_img_drop{text-align:center;margin:3px 0}
.weibo_img_drop img,.weibo_retweet_img_drop img{width:280px}
.weibo_drag,.video_drag,.pic_drag,.douban_drag{overflow:auto;z-index:10;cursor:move;border-color:#ababac;border-style:solid;border-width:1px;margin:8px;padding:5px}
.weibo_drag.tuser{cursor:default}
.video_drag .video_author{display:inline;margin-left:3px}
.video_drag .youku_thumbnail{float:left;margin-right:5px;border:1px solid #E9E9E9;padding:3px}
.video_drag .video_description{margin-left:85px}
.weibo_drag .user_wrapper a img{float:left;width:100px;height:100px}
.weibo_drag .user_wrapper .person_meta{margin-left:130px}
.weibo_drag .user_wrapper .person_meta .view_weibo{background:url("../img/editsprite.png") no-repeat scroll 0 -463px transparent;padding-left:20px}
.pic_drag .yupooWrapper img{float:left;border:1px solid #E9E9E9;padding:3px}
.pic_drag .yupooWrapper .wrapper{margin-left:96px;overflow:hidden}
.douban_wrapper .content_wrapper .event_wrapper{margin-top:10px;overflow:auto}
.douban_wrapper .content_wrapper .event_wrapper .item_meta,.douban_wrapper .content_wrapper .event_wrapper .item_meta_drop{margin-left:220px}
.douban_wrapper .comment_title,.douban_wrapper .comment_title_drop{font-weight:700}
.douban_wrapper .item_info .item_meta{margin-left:92px}
.douban_signature .text_wrapper,.story_signature .text_wrapper{float:right;height:16px}
.handle{background:url("../img/textture.png") repeat-y scroll center top #EFEFEF;border-right:1px solid #BBB;bottom:0;left:0;position:absolute;top:0;width:13px}
.commentBox{padding-left:5px}
.list_t_weibo{background:none repeat scroll 0 0 #E1F0F7;border-radius:30px 30px 30px 30px;display:inline-block;text-decoration:none;margin:0 5px 5px 0;padding:0 10px}
#trends_wrapper{overflow:auto;margin:8px 8px 8px 14px;padding:8px}
#source_list li.ht_wrapper{overflow:auto;margin:15px 0 25px 20px}
#source_list li.ht_wrapper h3{font-size:12px;color:#333;font-weight:580;padding-bottom:15px}
#source_list li.ht_wrapper span{margin-left:10px;display:inline-block}
.video_favicon{background:url("../img/editsprite.png") no-repeat scroll 0 -551px transparent;display:inline-block;width:16px;height:16px;position:relative;top:4px}
.video_element{width:420px;margin:0 auto}
.douban_date_drop{background:url("../img/editsprite.png") no-repeat scroll 0 -39px transparent;padding-left:17px;height:16px;margin-top:2px;_margin-top:-4px;color:#939393;clear:both;float:right}
li.sina .weibo_date_drop{background:url("../img/editsprite.png") no-repeat scroll 0 -375px transparent;padding-left:17px;height:16px;margin-top:2px;_margin-top:-4px;color:#939393;clear:both;float:right}
li.tencent .weibo_date_drop{background:url("../img/editsprite.png") no-repeat scroll 0 -463px transparent;padding-left:17px;height:16px;margin-top:2px;_margin-top:-4px;color:#939393;clear:both;float:right}
.signature_text,.signature_text_drop{margin-right:5px;float:right;zoom:1}
.profile_img_drop{width:32px;height:32px;overflow:auto;margin-top:2px}
.pic_drop{width:95%;overflow:hidden;position:relative;border-color:#ababac;border-style:solid;border-width:1px;margin:auto;padding:0 5px 12px}
.source_drag{margin:5px;padding:5px}
.editted{border-color:#ababac;border-style:solid;border-width:1px;padding:0 5px 5px}
.cross{cursor:pointer;margin-left:472px;visibility:hidden;background:url("../img/editsprite.png") no-repeat scroll 0 0 transparent;width:15px;height:15px}
.yupoo_wrapper{position:relative;text-align:center;border:5px solid #FFF;box-shadow:0 0 10px rgba(0, 0, 0, 0.4);-moz-box-shadow:0 0 10px rgba(0, 0, 0, 0.4);-webkit-box-shadow:0 0 10px rgba(0, 0, 0, 0.4);max-width:260px;_width:expression(document.body.clientWidth < 132? "130px" : document.body.clientWidth > 262? "260px" : "auto");overflow:auto;padding-top:5px;margin:0 auto}
.yupoo_sign{background:url("../img/editsprite.png") no-repeat scroll 0 -591px transparent;height:16px;right:10px;position:absolute;bottom:0;width:16px}
.content_wrapper{padding-left:26px;background:url('../img/apostrophe.png') no-repeat scroll 0 0 transparent!important;zoom:1}
.addTextElementAnchor{height:16px;width:98%;cursor:pointer;margin:auto}
.addTextElementAnchor .add_text{padding-left:190px;color:#999;vertical-align:top}
.add_comment{background:url("../img/editsprite.png") no-repeat scroll 0 -79px transparent;width:16px;height:16px;overflow:hidden;display:inline-block}
.textElement{width:95%;overflow:hidden;position:relative;margin:auto}
.textElement .actions{padding-left:380px}
.cover{display:block;height:186px;position:relative;width:186px;padding:0}
.title_wrap{bottom:13px;position:absolute;width:185px;text-align:left;margin:0;word-wrap:break-word;word-break:break-all}
.topic_list .title_wrap{width:100px}
.topic_cover{background-repeat:no-repeat;display:block;height:100px;overflow:hidden;position:relative;width:100px;padding:0}
.topic_cover .title_wrap{bottom:13px;position:absolute;width:100px;text-align:left;margin:0}
.title_wrap .title{background:none repeat scroll 0 0 #000;color:#FFF;display:inline;font:bold;text-shadow:0 0 2px rgba(0, 0, 0, 0.8);text-transform:uppercase;padding:1px 0}
.topic_list .title_wrap .title{font-size:14px;height:40px}
.title_wrap .title:hover{background:none repeat scroll 0 0 #ABABAC}
.weiboLi,.tweiboLi,.doubanLi,.videoLi,.yupooLi{padding:5px 0 5px 5px}
.weiboLi .source_img{background:url("../img/editsprite.png") no-repeat scroll 0 -415px transparent;height:24px;width:24px;display:block}
.tweiboLi .source_img{background:url("../img/editsprite.png") no-repeat scroll 0 -503px transparent;height:24px;width:24px;display:block}
.doubanLi .source_img{background:url("../img/editsprite.png") no-repeat scroll 0 -207px transparent;height:24px;width:24px;display:block}
.videoLi .source_img{background:url("../img/editsprite.png") no-repeat scroll 0 -119px transparent;height:24px;width:24px;display:block}
.yupooLi .source_img{background:url("../img/editsprite.png") no-repeat scroll 0 -631px transparent;height:24px;width:24px;display:block}
#weibo_search,#douban_search,#pic_search{padding-left:4px}
#weibo_search #keywords,#douban_search #d_keywords,#pic_search #pic_keywords,#videoTabs #videoUrl{width:250px;vertical-align:middle}
#weibo_search_btn,#douban_search_btn,#pic_search_btn,#embedVideo{vertical-align:middle;margin-left:10px}
#douban_search_btn,#pic_search_btn{width:76px}
#videoTabs .wrapper{padding-top:16px;padding-bottom:29px}
#videoTabs .wrapper input,#videoTabs .wrapper button{margin-top:13px}
#story_pic{width:100px;min-height:100px;float:left;margin-right:20px}
#prev_img{background:url("../img/editsprite.png") no-repeat scroll 16px -167px transparent;height:16px;width:16px}
#next_img{background:url("../img/editsprite.png") no-repeat scroll 16px -335px transparent;height:16px;width:16px}
#story_pic p{width:98px;height:98px;overflow:hidden;background:none repeat scroll 0 0 #FFF;border:1px solid #CCC;border-radius:3px 3px 3px 3px;display:block;text-align:center;margin:0;padding:3px}
#story_pic p img{background:none repeat scroll 0 0 #FFF;border:1px solid #BBBEBF;border-radius:2px 2px 2px 2px;display:block;max-height:90px;padding:4px}
#story_pic ul{list-style:none outside none;overflow:hidden;width:100%;margin:4px 2px 2px 5px;padding:0}
#story_pic ul li a img{height:16px;width:32px}
#story_pic ul li a{border:1px solid #BBBEBF;float:left;height:16px;width:46px}
#sto_title{width:360px;font-weight:700;height:30px;line-height:30px;margin:1px 0 10px}
#sto_summary{width:360px;height:80px;margin-bottom:10px}
#sto_tag{width:480px;height:25px;line-height:25px;margin:0}
.trends_wrapper{text-align:center;background-color:#F9F9F9;background-repeat:repeat-x;display:block;border-color:#DDD #AAA #AAA #DDD;border-style:solid;border-width:1px;margin:10px 5px 0;padding:5px 0}
li#more{margin:10px 0}
.loadmore,.load_more{background-color:#FFF;background-image:url("../img/more.gif");background-position:left top;background-repeat:repeat-x;display:block;font-size:14px;font-weight:700;height:22px;line-height:1.5em;outline:medium none;text-align:center;text-shadow:1px 1px 1px #FFF;width:95%;border-color:#DDD #AAA #AAA #DDD;border-style:solid;border-width:1px;margin:0 auto 6px;padding:6px 0}
.load_more{-moz-border-radius:5px}
.load_more:hover{background-position:left -78px;border:1px solid #BBB;text-decoration:none}
.load_more:active{background-position:left -38px;color:#666}
.story_title{padding-left:20px;font-size:30px;font-weight:300;line-height:1.4;margin-right:70px;word-wrap:break-word;word-break:break-all}
.story_author a{margin-left:8px}
.story_sum{padding-left:20px;padding-right:10px;margin-top:10px;color:#555}
.story_tag{margin-top:5px;padding-left:20px;color:#555}
.tag_item{background:none repeat scroll 0 0 #F2F7FC;border:1px solid #D1E3EF;margin-left:5px;padding:3px}
.tool_wrapper{border-bottom:1px solid #E6E6E6;overflow:auto;zoom:1;padding-bottom:5px}
.story_share{overflow:auto;padding:5px 0 0 20px}
#story_embed{float:right;display:inline;margin:-5px 10px 0 0}
.sto_embed{margin-left:10px;margin-right:10px}
#embed_bar{background:none repeat scroll 0 0 #EFEFEF;display:none;clear:both;padding:5px 0 5px 20px}
.post-content .embed_how,#embed_bar .embed_how{background:url("../img/usersprite.png") no-repeat scroll 0 -350px transparent;width:20px;height:20px;display:inline-block;vertical-align:middle}
#story_embed .arrow_down{background:url("../img/usersprite.png") no-repeat scroll 0 0 transparent;width:16px;height:16px;display:inline-block}
#story_embed .arrow_up{background:url("../img/usersprite.png") no-repeat scroll 0 -32px transparent;width:16px;height:16px;display:none}
.draft_icon{background:url("../img/usersprite.png") no-repeat scroll 0 -168px transparent;float:left;height:16px;width:16px;margin:0 3px 0 2px}
.publish_icon{background:url("../img/usersprite.png") no-repeat scroll 0 -456px transparent;float:left;height:16px;width:16px;margin:0 3px 0 2px}
#story #story_header{border:1px solid #C9C9C9;border-radius:5px 5px 0 0;border-bottom:none;padding:10px 10px 15px}
#publish_container #story_header{overflow:auto;width:100%;zoom:1}
#publish_container #story_header #story_img{float:right;padding:10px 10px 0 0}
#publish_container #story_header #story_img img{width:60px;height:60px}
#story_list .story_wrapper,#story_list .douban_wrapper,#story_list .urlWrapper,#story_list .yupooWrapper,#story_list .youku_wrapper,#story_list .commentBox{margin-left:13px}
#weibo_ul{margin-left:0;padding:0}
#weibo_ul li{margin-top:25px}
#weibo_ul .douban_drop{width:98%;position:relative;border:none}
#weibo_ul .weibo_drop{width:98%;border:none}
.item_action{border:1px solid;border-radius:5px;-moz-border-radius:5px;-webkit-border-radius:5px;display:block;height:auto;opacity:0.3;-moz-opacity:0.3;-khtml-opacity:0.3;position:absolute;right:-55px;width:87px;z-index:100;margin:0 -10px 0 0 !important;padding:0!important}
#weibo_ul .item_action{top:5px}
#story_list .item_action{bottom:7px}
.item_action a{padding-left:22px;margin-left:5px}
.item_action a.repost_f{display:block;background:url("../img/editsprite.png") no-repeat scroll 0 -292px transparent}
.item_action a.comment_f{display:block;background:url("../img/editsprite.png") no-repeat scroll 0 -252px transparent}
.item_action a span{margin-left:5px}
.item_action:hover{opacity:1;-moz-opacity:1;-khtml-opacity:1;right:-5px;background-color:#f6f6f6}
#story_container{width:920px;padding-top:50px;min-height:650px;position:relative;zoom:1;margin:0 auto}
.box_container{position:relative;z-index:400;zoom:1}
.publish_wrapper{float:left;width:664px;height:auto}
.follower_list,.following_list{list-style-type:none;overflow:auto;margin:5px 0 15px;padding:0}
.side_title{vertical-align:top;font-size:12px;color:#555}
.user-bio{color:#555;font-size:12px;line-height:1.5;text-shadow:1px 1px 0 #FFF;margin:3px 0 7px;padding:5px}
.act_digg{float:right;margin:4px 5px 0 0;background:url("../img/usersprite.png") no-repeat scroll 0 -96px transparent;width:16px;height:16px}
.digg_counter{background:url("../img/counter.gif") no-repeat scroll 0 -64px transparent;font-family:arial,helvetica,sans-serif;font-weight:700;height:16px;text-align:center;width:32px!important;color:#565656;cursor:pointer;float:right;font-size:11px;line-height:16px!important;text-decoration:none;margin:4px 10px 0 -2px;padding:0 0 0 4px}
#publish_container{background-color:#FFF;border-radius:2px;-moz-border-radius:2px;-webkit-border-radius:2px;width:660px;border-color:#ababac;border-style:solid;border-width:1px;margin-bottom:40px}
#userinfo_container{float:right;min-height:500px;height:auto;width:220px;zoom:1}
.kou_signature{display:block;text-align:right;padding:0 10px 5px 5px}
.kou_signature span{vertical-align:bottom;margin-right:5px}
.kou_signature a{background:url("../img/usersprite.png") no-repeat scroll 0 -264px transparent;display:inline-block;width:35px;height:38px}
.user_profiles{border-radius:3px 3px 3px 3px;width:210px;overflow:auto;margin:20px 0 0}
.user_box{overflow:auto;zoom:1;padding:10px}
.user_box .user_info .wrapper{float:left;width:88px;height:90px}
.more_story,.story_stats{padding:10px}
.user_info_title{border-bottom:1px solid #DDD;color:#555;font-size:12px;font-weight:700}
.user_info_title span{color:#555;font-size:18px;font-weight:700}
.view_count{padding:5px 0 0 10px}
.avatar{background:none repeat scroll 0 0 #FFF;border:1px solid #CCC;border-radius:3px 3px 3px 3px;height:80px;width:80px;float:left;margin:0 12px 5px 0;padding:4px}
.avatar a{background-size:cover;display:block;height:100%;width:100%}
.user_name{margin-bottom:5px;color:#333;font-size:18px;word-wrap:break-word;overflow:hidden}
.user_name a:hover{text-decoration:underline}
.userbox p{margin:0 0 10px}
.usersfollowers,.usersfollowing{font-weight:700;position:relative;overflow:auto;margin:18px 0 0}
.usersfollowers div,.usersfollowing div{border-bottom:1px solid #DDD;box-shadow:0 1px 0 #FFF;position:relative}
.count{color:#555;font-weight:700;position:absolute;right:0;top:1px}
.follow_mini_icon img{display:block;height:24px;width:24px;margin:0 6px 6px 0}
#story_action{padding-top:4px;background-color:#ababac}
#story_action .delete{display:inline-block;background:url("../img/usersprite.png") no-repeat scroll 0 -64px transparent;width:16px;height:16px}
#story_action .edit{display:inline-block;background:url("../img/usersprite.png") no-repeat scroll 0 -200px transparent;width:16px;height:16px}
#story_action .publish{display:inline-block;background:url("../img/usersprite.png") no-repeat scroll 0 -317px transparent;width:16px;height:16px}
.setting_bar{background-color:#ddd;float:left;margin-bottom:21px;overflow:hidden;width:68%}
.setting_bar div{float:left;margin-left:50px;padding-right:5px}
.setting_bar a{display:block;float:left;line-height:14px;text-decoration:none;margin-top:6px;margin-left:30px;padding:5px}
.setting_bar span.now{background-color:#FFF;display:block;float:left;margin-top:4px;padding:3px 5px}
.story_wrap{position:relative;zoom:1}
.editable{background:none repeat scroll 0 0 rgba(0, 0, 0, 0.6);position:absolute;top:0;width:186px;filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#60000000,endColorstr=#60000000);-ms-filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#60000000,endColorstr=#60000000);padding:4px 0}
.editable .status{float:left;font-size:11px;font-weight:700;padding:0 4px}
.editable .status .Draft{color:#F3AE05;position:relative}
.editable .status .Published{color:#AAC400;position:relative}
.editable .actions{float:right;padding:2px 4px 0}
.editable .actions .icon.delete{background:url("../img/usersprite.png") no-repeat scroll 0 -64px transparent;height:16px;width:16px;display:inline-block}
.editable .actions .icon.edit{background:url("../img/usersprite.png") no-repeat scroll 0 -200px transparent;height:16px;width:16px;display:inline-block}
#userstory_container, #tagstory_container{margin-bottom:30px;overflow:auto;zoom:1;position:relative}
#tagstory_container #sort_type{margin-bottom:20px;background-color: #DDDDDD;overflow: hidden; width:300px;padding:7px 0 0 40px;font-size:16px;border-radius:5px}
#tagstory_container #sort_type a{margin-right:40px;padding:3px 8px}
#tagstory_container #sort_type a.now{background-color:#FFF;}
#userstory_container .userinfo_wrapper{width:880px;overflow:auto;padding-top:15px;margin:20px auto 10px}
.userinfo_wrapper .misc_wrapper{float:left;width:150px;height:90px;margin-left:10px}
.userinfo_wrapper #user_intro{float:left;width:450px;margin-left:20px;color:#333;font-size:12px}
.userinfo_wrapper .misc_wrapper .account_count{margin-bottom:5px}
.userstory_list ul{overflow:auto;zoom:1;padding:0}
.userstory_list ul li{border:1px solid #DDD;border-radius:3px 3px 3px 3px;color:#323232;display:inline;text-decoration:none;height:218px;width:188px;float:left;margin:20px 10px 0 18px;padding:5px 5px 2px}
#popular{clear:both;margin-bottom:20px}
#popular h3{color:#999;margin-top:30px;padding-bottom:15px;font-size:20px;font-weight:500}
#pop_wrapper{height:280px;background:none repeat scroll 0 0 #FCFCFC;border:1px solid #CCC;border-bottom:none;border-radius:5px 5px 0 0}
#pop_wrapper #pop_list{margin-top:0;margin-left:0;overflow:auto;zoom:1;padding:0}
#pop_wrapper #pop_list li{float:left;width:188px;height:218px;border:1px solid #DDD;border-radius:3px 3px 3px 3px;color:#323232;text-decoration:none;display:inline;zoom:1;margin:10px 10px 0 18px;padding:5px 5px 2px}
#more_story_list{margin:0 0 20px;padding:0}
#more_story_list li{border:1px solid #BBB;margin-top:10px;padding:5px 5px 2px}
.sto_cover_list{margin-left:0}
.sto_cover_list .story_meta{padding-top:5px}
.sto_cover_list .story_meta span img{width:20px;height:20px}
.sto_cover_list .story_meta .meta_author{margin-left:5px;vertical-align:top}
.sto_cover_list .story_meta .meta_date{float:right;vertical-align:top}
#time_wrapper{width:920px;text-align:center;margin-top:10px}
.time_range.selected{background:none repeat scroll 0 0 #E6E6E8;border:1px solid #CCC;padding:2px}
#story_more{border-radius: 0 0 5px 5px;-moz-border-radius: 0 0 5px 5px;-webkit-border-radius: 0 0 5px 5px;box-shadow: 0 1px 0 #C3C3C6;height: 28px;line-height: 30px;background:#f8f8f9;background: -moz-linear-gradient(center top , #F8F8F9, #E6E6E8) repeat scroll 0 0 transparent;background:-webkit-gradient(linear,left top,left bottom,from(#f8f8f9),to(#e6e6e8));filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f8f8f9',endColorstr='#e6e6e8');border: 1px solid #CCCCCC;color: #666666 !important;cursor: pointer;display: block;font-size: 14px;padding: 6px 10px;text-align: center;text-decoration: none !important;vertical-align: middle;}
#story_more:hover{background:#e6e6e8;background:-moz-linear-gradient(center top , #F4F4F5, #E6E6E8) repeat scroll 0 0 transparent;background:-webkit-gradient(linear,left top,left bottom,from(#f4f4f5),to(#e6e6e8));filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f4f4f5',endColorstr='#e6e6e8')}
#story_more:active{background:-moz-linear-gradient(center top , #DDDDDD, #DDDDDD) repeat scroll 0 0 transparent;background:-webkit-gradient(linear,left top,left bottom,from(#ddd),to(#ddd));filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#DDDDDD',endColorstr='#DDDDDD');border:1px solid #AAAAAA;height:29px}
.topic_list ul{margin-left:0;overflow:auto;padding:0}
.topic_list ul li{position:relative;float:left;border:1px solid #DDD;border-radius:3px 3px 3px 3px;color:#323232;display:inline-block;text-decoration:none;width:100px;zoom:1;margin:0 16px 0 9px;padding:5px}
.story_count{float:right;color:#555}
.form_wrapper{width:760px;overflow:hidden;margin:50px auto}
#account_meta{background-color:#FAFAFA;border:1px solid #CCC;border-radius:3px 3px 3px 3px;position:relative;margin:0 0 20px}
#account_meta .account_title{font-size:14px;border-bottom:1px solid #EDEDED;padding:10px}
#account_meta .meta_wrapper div{margin-bottom:3px}
#form_1,#form_2{background-color:#FAFAFA;border-right:1px solid #CCC;height:210px;border-color:#CCC;border-style:none solid solid;border-width:1px;padding:14px 14px 14px 50px}
#form_1 label,#form_2 label{float:left;height:32px;line-height:32px;margin-right:10px;text-align:right;width:50px;padding:0}
#form_1 input,#form_2 input{height:20px;line-height:20px;overflow:hidden;width:240px;padding:5px}
#select_form .selected{background-color:#FAFAFA;width:379px;float:left;border-color:#CCC #CCC #FAFAFA;border-style:solid;border-width:1px}
#select_form .unselected{background-color:#FFF;border-bottom:1px solid #CCC;cursor:pointer;float:left;width:379px}
#select_form .selected div{font-size:12px;padding:14px}
.left.unselected div{color:#888;background-color:#ddd;margin:0 5px 5px 0;padding:14px 14px 11px}
.right.unselected div{color:#888;background-color:#ddd;margin:0 0 5px 5px;padding:14px 14px 11px}
#publishBtn{margin-top:1px;color:#FFF}
.top_nav #actions{display:block;position:absolute;top:4px;right:0}
.top_nav #actions span{vertical-align:middle}
.blue_btn{display:block;background-color:#39D;background-repeat:repeat;border:1px solid #28C;border-radius:2px;-moz-border-radius:2px;-webkit-border-radius:2px;color:#FFF;font-size:14px;font-weight:700;height:30px;line-height:30px;text-align:center;text-shadow:0 0 2px #444;padding:0 14px}
#main_content{margin-bottom:20px;zoom:1}
div.inner{width:920px;overflow:hidden;position:relative;margin:0 auto}
#login_modal{width:240px;float:left;margin-top:6px;padding-left:20px}
.form_div .form_label{font-weight:600;margin-right:10px}
#login_modal .auto_login{margin-top:10px;padding-left:36px}
.auto_login span input{margin-right:5px}
#login_modal #email_login,#login_modal #pwd_login{width:165px}
.login_right{border-left:1px solid #494949;float:left;margin:20px 0 0 18px;padding:0 45px 12px 53px}
.login_right .register_awesome{margin:5px 0 15px}
.showborder{border:1px solid #C9C9C9}
#login_btn{border:1px solid #C9C9C9;color:#369;background:repeat-x;cursor:pointer;border-radius:3px;-moz-border-radius:3px;-webkit-border-radius:3px;padding:3px 8px}
#login_modal_btn,#copy_btn{border:1px solid #C9C9C9;color:#369;background:repeat-x;cursor:pointer;display:block;text-align:center;height:28px;line-height:28px;width:50px;border-radius:3px;-moz-border-radius:3px;-webkit-border-radius:3px}
#weibo_btn{width:90px;height:28px;border-radius:3px;-moz-border-radius:3px;-webkit-border-radius:3px;background:url(../img/weibo.png)}
#connectBtn{background-color:#F0F0F0;border:1px solid #DDD;border-radius:3px 3px 3px 3px;color:#444!important;display:block;float:left;font-weight:700;text-align:center;padding:0}
#connectBtn:hover{background-color:#E9E9E9}
.sina_icon{background:url("../img/editsprite.png") no-repeat scroll 0 -415px transparent;float:left;height:24px;margin-left:3px;position:relative;top:3px;width:24px}
.tencent16_icon{background:url("../img/editsprite.png") no-repeat scroll 0 -463px transparent;height:16px;width:16px;float:left;position:relative;top:1px;margin:0 3px}
.sina16_icon{background:url("../img/editsprite.png") no-repeat scroll 0 -375px transparent;height:16px;width:16px;float:left;position:relative;top:1px;margin:0 3px}
.sina_name{float:left;font-size:14px;height:30px;line-height:30px;padding:0 9px}
#user{position:absolute;right:0;top:5px;float:right}
#user p.image{position:absolute;right:0;top:1px;padding:0}
#user p.image img{float:left;border:2px solid #c6dbe5}
#user h3{color:#202a2f;font-size:1.3em;line-height:1.1;font-weight:700;white-space:nowrap;text-align:right;margin:0 50px 4px 0;padding:1px 0 0}
#user ul{list-style:none;margin:0 45px 0 0;padding:0}
#user.pre ul{margin:11px 0 0}
#user ul li{float:left;font-size:1.1em;line-height:1.2;margin:0 0 0 3px}
#user ul li a{border-radius:3px;-moz-border-radius:3px;-webkit-border-radius:3px}
#footer{width:920px;border-top:1px solid #E3E5E6;clear:both;position:relative;margin:0 auto;padding:0 0 1px}
.editor #footer{width:100%;position:fixed;bottom:0;height:40px;z-index:1200;background:none repeat scroll 0 0 #F9F9F9}
.editor #footer .wrapper{position:absolute;width:920px;left:50%;margin-left:-460px}
#footer p{color:#BBB;font-size:1.1em}
#footer ul{float:right;list-style:none;padding:0}
#footer ul li{display:inline;float:left;font-size:1.1em;margin:0 0 0 18px}
#sign_up #agree_term{margin:0 8px 0 84px}
#sign_up #btn_submit_signup{padding-left:84px;margin-bottom:50px}
#a_flag{color:#494949;font-size:18px;font-weight:700;margin:160px 0 20px}
#mask{position:absolute;left:0;top:0;z-index:300;background-color:#c7c7c7;display:none;zoom:1}
.n_mask{position:absolute;left:0;top:0;z-index:300;background-color:#2F2F2F;display:none}
.n_support{position:absolute;left:0;top:0;width:440px;height:220px;display:none;z-index:9999;background-color:#fff;color:#494949;border-color:#ababac;border-style:solid;border-width:1px}
.n_support .title_bar{background-color:#E2E2E2;text-align:center;color:#494949;font-size:22px;font-weight:600;line-height:1.3;padding:5px 0}
.n_support .go_back{float:right;margin-right:20px;border:1px solid #DDD;padding:5px}
.n_support ul{margin:10px 0 10px 25px}
.n_support ul li{list-style:disc inside}
.n_support ul li a:active{color:#666}
#boxes{z-index:400;zoom:1}
#boxes .window{position:absolute;left:0;top:0;width:440px;height:200px;display:none;z-index:9999}
#boxes #dialog{width:550px;height:216px;background-color:#fff;border-radius:9px;-moz-border-radius:9px;-webkit-border-radius:9px;border-color:#ababac;border-style:solid;border-width:5px}
#boxes #dialog .title_bar{background-color:#ababac;padding:5px}
#boxes #weibo_dialog{width:440px;height:190px;background-color:#fff;border-radius:4px;-moz-border-radius:4px;-webkit-border-radius:4px;zoom:1;border-color:#ababac;border-style:solid;border-width:4px;padding:10px}
#boxes #weibo_dialog .title_bar{background-color:#f3f3f3;margin-bottom:10px;padding:5px}
.pub_imply_sina span,.pub_imply_tencent span,.sina_user span,.tentcent_user span{margin-left:3px;margin-right:5px;color:#878787}
#vtab{width:430px;position:relative;margin:0 0 0 -40px}
#vtab > ul > li{width:33px;height:24px;background-color:#F9F9F9!important;list-style-type:none;display:block;border:1px solid #F9F9F9;border-right:none;position:relative}
#vtab > ul > li.selected{opacity:1;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=100);border:1px solid #ddd;border-right:none;z-index:10;background-color:#FFF!important;position:relative}
#vtab > ul{width:35px;text-align:left;display:block;position:absolute;top:40px;left:0;margin:auto 0;padding:0}
#vtab > div{background-color:#FFF;margin-left:40px;border:1px solid #ddd;min-height:50px;position:relative;z-index:9;-moz-border-radius:5px;padding:12px}
a:hover,#previewBtn:hover,#draftBtn:hover{color:#666;text-decoration:none}
div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,#boxes #dialog form{margin:0;padding:0}
.center,.youku_wrapper{text-align:center}
.float_l,.left_half,.douban_wrapper .event_img_wrapper .item_img,.douban_wrapper .item_info a img,#story_pic ul li,.follower_list li,.following_list li{float:left}
.float_r,.btn_w_publish,#boxes .close{float:right}
#login_form_wrapper,#homepage .inner .category,.douban_wrapper .item_info,.douban_wrapper .item_info_drop,.user_info,#footer .wrapper,#boxes #dialog form div.wrapper{overflow:auto}
#login_form_r #connectBtn,.login_right #connectBtn{margin-top:5px}
#login_form .form_div,#sign_up div{margin-bottom:20px}
#fb_form .label{margin-top:20px}
#login_form .auto_login,.create_time{padding-left:36px}
#c_pwd_form .wrapper div,#c_email_form .wrapper div,#login_modal .form_div{margin-top:20px}
#c_pwd_form #btn_submit_modify,#c_email_form #btn_submit_modify,#btn_cfm_pwd{margin-left:80px}
.awesome:link,.userinfo_wrapper .misc_wrapper .follow,.follow_btn:link{color:#fff}
#person_name,.person_a span{display:block;line-height:14px;overflow:hidden;white-space:nowrap;width:70px;margin:0 0 0 45px;padding:12px 0 0}
.person_li,div.pagination span.disabled,.pub_imply_sina,.pub_imply_tencent{display:none}
.person_li.display,.view_count a{display:block}
.notify-content .sina_user,.notify-content .tencent_user{overflow:auto;margin-left:20px}
#source_wrapper p,.story_author,.n_support p{padding-left:20px}
.tagstory_li{margin-bottom:20px;overflow:auto}
.tagstory_li .wrapper .meta,.douban_wrapper .item_info_drop .item_meta_drop{margin-left:100px}
.weibo_content,#weiboTabs ul,#doubanTabs ul,#picTabs ul{overflow:hidden}
.weibo_content,.douban_content,#login_modal #login_modal_btn{margin-left:36px}
.weibo_drag .story_wrapper .profile_img,.douban_wrapper .profile_img{width:32px;height:32px;float:left;overflow:hidden;margin-top:3px}
.video_drop,.weibo_drop,.douban_drop{width:95%;overflow:hidden;position:relative;border-color:#ababac;border-style:solid;border-width:1px;margin:auto;padding:0 5px 5px}
#weibo_search .sep,#douban_search .sep,#pic_search .sep,#publish_container #story_header #story_meta{margin-top:10px}
#weibo_ul .douban_drop .douban_wrapper,#weibo_ul .story_wrapper{width:70%;position:relative;zoom:1;margin:0 auto}
.editable .publish_icon,.editable .draft_icon{position:relative;top:3px;margin:0 3px 0 0}
.time_range,#account_meta .account_count span{margin-right:10px}
#login_awesome:link,.register_awesome:link,.cfm_awesome:link,.cfm_awesome:hover{color:#FFF}
#account_meta .meta_wrapper,.aa_submit{margin-left:60px}
#form_1 form div,#form_2 form div,#boxes #weibo_dialog .alert{margin-bottom:10px}
#previewBtn,#draftBtn{color:#444;font-size:12px;font-weight:700;height:32px;line-height:32px;text-align:center;width:auto;padding:9px 12px}
#login_btn:hover,#login_modal_btn:hover,#copy_btn:hover{background-color:#f5f5f5}
.gray,#boxes #weibo_dialog .title_bar #publish_title{color:#B8B7B7}
#term_content{font-size:13px}
#term_content h3{font-size:14px;font-weight:bold;margin:10px 0 10px}
#term_content ol,#term_content ul{padding:0 0 0 20px}
#term_content ol li{list-style:decimal outside}
#term_content ul li{list-style:disc outside}
#comment_list li{margin-top:10px;overflow:auto}
#comment_list li img{height:50px; width:50px}
#comment_list li .comment_wrapper{margin-left:60px}
#comment_list li .comment_author{border: 1px solid #DDD;border-radius: 3px 3px 3px 3px;font-size: 13px;line-height: 14px;margin: 0 0 1em;max-height: 36px;overflow: hidden;padding: 10px;white-space: nowrap;background-color:#FFF;background-image:url("../img/more.gif");background-position:left top;background-repeat:repeat-x;display:block}
#comment_list li .comment_action{padding:9px 5px 0 0}
#reply_container .load_more{width:99%}
#reply_container #count_wrapper{margin:10px 0 20px;padding:0 0 10px 10px;color:#369;border-bottom:1px solid #DDD}
#reply_container #comment_container{padding:0 10px;overflow:auto}
#reply_container #comment_container img{float:left;width:50px;height:50px}
#reply_container #comment_container #login_require{margin-left:15px}
#reply_container #comment_container #input_wrapper{margin-left:60px}
#reply_container #comment_container #reply_input{overflow-y: auto; width:575px; height:50px; border: 1px solid #DDD;padding:3px}
#reply_container #comment_container .post_comment{margin:10px 5px 10px 0; float:right}