*{font-size:12px;}
body {
	margin:0;
	padding:0;
	background: url(/images/show/20070511_1.jpg);
	background-position:center top;
	background-repeat:repeat-x;
	font-family: Verdana, Arial, Helvetica, sans-serif;	
}

.c{height:1%;}
.c:after {content: ".";display: block;height:0;clear: both;visibility:hidden;}

a:hover {
	color: #FFFFCC;
	text-decoration: underline;
}
a.black {
	font-size: 12px;
	color: #000000;
}
a.black:hover {
	color: #FF0099;
	text-decoration: underline;
}

.left_body_20070514 { background-color:#EBF5FF; margin:0px; background-image:none; }
.left_top_logo { width:110px; text-align:center; height:31px; background-color:#fff; margin:0 0 10px 0; }
.left_title { width:100px; margin:0 4px; height:22px; padding:5px 0 0 2px; font-weight:bolder; color:#489C00; border-bottom:1px solid #9FCD77; }
.left_txt { width:100px; margin:0 5px; height:auto; padding:0px; }
.left_txt ul{ width:l00px; height:auto !important; margin:5px 0 0 0; padding:0px; }
.left_txt li{ height:20px; padding:3px 5px 3px 5px; margin:0px; list-style-type:none; width:90px; }
.left_txt li a{ display:block; }
.left_txt li a:link,
.left_txt li a:visited{ color:#545454; height:10px; border:1px solid #EBF5FF; padding:3px 5px 3px 5px; text-decoration:none; }
.left_txt li a:hover{color:#3189E1; height:10px; border:1px solid #BEDFFF; background-color:#fff; padding:3px 5px 3px 5px; text-decoration:none; }